﻿
<link href="/Content/jquery.treetable.css" rel="stylesheet" />
<link href="../Content/jquery.treetable.theme.default.css" rel="stylesheet" />
<link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
<link href="../assets/apps/css/todo-rtl.min.css" rel="stylesheet" type="text/css" />
<link href="/Content/model-add-company.css" rel="stylesheet" />
<link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/js-custom-select-master.css" rel="stylesheet" />
<link href="../Scripts/tree/themes/default/style.css" rel="stylesheet" />
<link href="../Scripts/tree/themes/default-dark/style.min.css" rel="stylesheet" />

<style>
    .ui-select-bootstrap .ui-select-toggle > .caret {
        right: initial;
        left: 10px; /* or any other value - it should be the same as the original right value */
    }


    .ui-select-bootstrap > .ui-select-match > .btn {
        text-align: right !important;
        direction: rtl;
    }


        .ui-select-bootstrap > .ui-select-match > .btn > span.pull-left {
            float: right !important;
        }

    fieldset {
        background: #FCFCFC;
        padding: 16px;
        border: 1px solid #D5D5D5;
    }

    .addfields {
        margin: 10px 0;
    }

    #choicesDisplay {
        margin-top: 10px;
        padding: 10px;
        background: rgb(227, 250, 227);
        border: 1px solid rgb(171, 239, 171);
        color: rgb(9, 56, 9);
    }

    .remove {
        background: #C76868;
        color: #FFF;
        font-weight: bold;
        font-size: 21px;
        border: 0;
        cursor: pointer;
        display: inline-block;
        padding: 4px 9px;
        vertical-align: top;
        line-height: 100%;
    }

  
</style>
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">الرئيسية</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">حسابات</a>
            <i class="fa fa-circle"></i>

        </li>
        <li>
            <a href="#">الاستاذ المساعد</a>
        </li>
    </ul>

</div>

<h3 class="page-title"></h3>


<div class="portlet box grey-gallery" ng-controller="subLedgerController">
    <div class="portlet-title">
        <div class="caption hidden-print">
            الاستاذ المساعد  
            - 
            <a href="#" editable-select="branchGroub.id" onshow="loadCompanies()" e-ng-options="c.id as c.name group by c.companyName for c in branchesGroub">
                {{ branchGroub.fullName}}
            </a>
          
            <i class="fa fa-gift"></i>

        </div>

        <div class="caption visible-print">
            {{branchGroub.fullName}} - 
            الاستاذ المساعد عن حساب  :
            <a href="#">
                {{ selectedAccount.value + ' ( ' +  ' القيود ' + accountMoves.length + 'من ' + totalItems + ' )'}}
            </a>

            <i class="fa fa-gift"></i>

        </div>

        <div class="actions hidden-print">
          
            <div class="btn-group">
                <a class="btn btn-default" href="#"><i class="fa fa-file-o fa-fw"></i> انشاء قيد</a>
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a data-target="#order-Modal" data-toggle="modal" href="#" ng-disabled="!accountsArray.length" ng-click="addOrder()"><i class="fa fa-pencil fa-fw"></i>  اضافة</a></li>
                    <li><a data-target="#order-Modal" data-toggle="modal" href="#" ng-disabled="!accountsArray.length" ng-click="addOrderCrdit()"><i class="fa fa-trash-o fa-fw"></i>  صرف</a></li>
                    <!--<li class="divider"></li>-->

                </ul>
            </div>
            <a onclick="javascript:window.print();" href="javascript:;" class="btn btn-default btn-sm">
                <i class="fa fa-print"></i> طباعه
            </a>
        </div>
    </div>
    <div class="portlet-body">
       
        <div class="form-group">
            <div class="col-lg-4 col-md-4 col-sm-4 hidden-print">
                <div  ng-disabled="branchGroub.fullName == 'حدد الشركة - الفرع' || accountsArray.length <= 0"  class="form-group">
                    <label for="selecti">
                        الحساب
                       
                    </label>
                    <ui-select ng-disabled="branchGroub.fullName == 'حدد الشركة - الفرع' || names.length <= 0" on-select="setSelectedAccountId(selectedAccount)" ng-model="selectedAccount" theme="bootstrap" name="selecti">
                        <ui-select-match ng-click="" allow-clear="false" placeholder="حدد / ابحث عن الحساب">
                            <span ng-bind="$select.selected.value"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in (names  | filter: $select.search) track by $index">
                            <div ng-bind-html="item.value | highlight: $select.search"></div>
                            <small ng-bind-html="item.accountCatogery | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>

                </div>
            </div>
            <div ng-disabled="!accountMoves.length" class="col-md-5 col-lg-5 col-sm-5">
                <label class="control-labe">عن الفترة</label>

                <div class="form-control" id="reportrange" style="background: #fff; cursor: pointer; padding: 3px; border: 1px solid #ccc; width: 100%">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                    <span></span> <b class="caret hidden-print"></b>
                </div>

            </div>
            <div  ng-disabled="!accountMoves.length" class="col-lg-1 col-md-1 col-sm-1 hidden-print">
                <div class="form-group">
                    <label for="searchId">العدد</label>
                    <div class="input-group">
                        <input type="text" readonly class="form-control" id="searchId" ng-model="totalItems">

                    </div>
                </div>
            </div>
            <div ng-disabled="!accountMoves.length" class="col-lg-2 col-md-2 col-sm-2 hidden-print">
                <label for="pagin"> المعروض </label>
                <input id="pagin" class="form-control integer" type="number" step="1" min="1" max="50" ng-model="itemsperpage" />
            </div>


           

        </div>


        <div class="row table-scrollable">
          
            <ul class="hidden-print" ng-hide="!accountMoves.length || totalItems.length <= 1" uib-pagination total-items="totalItems" items-per-page="itemsperpage" first-text="الاول" next-text="التالي" previous-text="السابق" last-text="الاخير" ng-model="currentPage" ng-change="pageChanged()"></ul>

            <table id="loading-bar-container" class="table table-striped table-bordered table-hover">
                  <thead ng-show="selectedAccountId != 0">
                    <tr style="background-color:#ccc">
                        <th>
                            م
                        </th>
                        <th> 
                            <a>
                                البيان
                                <span ng-show="sortType == 'note' && !sortReverse" class="hidden-print fa fa-caret-down"></span>
                                <span ng-show="sortType == 'note' && sortReverse" class="hidden-print fa fa-caret-up"></span>
                            </a>
               
                        </th>
                        <th>
                            <a ng-click="sortType = 'code'; sortReverse = !sortReverse">
                                رقم القيد
                                <span ng-show="sortType == 'code' && !sortReverse" class="hidden-print fa fa-caret-down"></span>
                                <span ng-show="sortType == 'code' && sortReverse" class="hidden-print fa fa-caret-up"></span>
                            </a>

                        </th>
                        <th> 
                            <a ng-click="sortType = 'debit'; sortReverse = !sortReverse">
                                المدين
                                <span ng-show="sortType == 'debit' && !sortReverse" class="hidden-print fa fa-caret-down"></span>
                                <span ng-show="sortType == 'debit' && sortReverse" class="hidden-print fa fa-caret-up"></span>
                            </a>
                         
                        </th>
                        <th>
                            <a ng-click="sortType = 'crdit'; sortReverse = !sortReverse">
                                الدائن
                                <span ng-show="sortType == 'crdit' && !sortReverse" class="hidden-print fa fa-caret-down"></span>
                                <span ng-show="sortType == 'crdit' && sortReverse" class="hidden-print fa fa-caret-up"></span>
                            </a>
                        
                        
                        </th>
                        <th>
                            <a ng-click="sortType = 'date'; sortReverse = !sortReverse">
                                التاريخ
                                <span ng-show="sortType == 'date' && !sortReverse" class="hidden-print fa fa-caret-down"></span>
                                <span ng-show="sortType == 'date' && sortReverse" class="hidden-print fa fa-caret-up"></span>
                            </a>
                            
                        </th>
                    </tr>
                </thead>
               <tbody ng-show="selectedAccountId != 0">
                   <tr ng-class="accountMoves[0].pdebit == 0 ? 'bg-green-meadow bg-font-green-meadow' : 'bg-green-seagreen bg-font-green-seagreen'">

                       <td>
                           -
                       </td>
                       <td>
                           <span>{{'الفترة السابقة'}}</span>
                           <span class="visible-print-inline" style="font-weight:bold">{{'الفترة السابقة'}}</span>

                       </td>
                       <td>-</td>
                       <td>{{accountMoves[0].pdebit == 0 ? '--' : accountMoves[0].pdebit }}</td>
                       <td>{{accountMoves[0].pcrdit == 0 ? '--' : accountMoves[0].pcrdit }}</td>
                       <td>-</td>

                   </tr>

                   <tr ng-class="accountMove.debit == 0 ? 'bg-green-meadow bg-font-green-meadow' : 'bg-green-seagreen bg-font-green-seagreen'" ng-repeat="accountMove in accountMoves">
                      
                       <td>
                           {{$index+1}}
                       </td>
                        <td>
                          
                           <div class="btn-group hidden-print">
                               <span> {{accountMove.orderNote}}</span>
                               <span ng-show="accountMove.iscomplex" style="font-weight:lighter">(قيد مركب)</span>
                               <a ng-hide="accountMove.iscomplex" style="font-weight:bold" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   <span><i class="fa fa-cogs fa-fw"></i></span>

                               </a>
                               <ul ng-hide="accountMove.iscomplex" class="dropdown-menu">

                                   <li><a ng-click="editOrder(accountMove)" data-target="#order-Modal" data-toggle="modal" href="#"><i class="fa fa-pencil fa-fw"></i> تعديل</a></li>
                                   <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> حذف</a></li>

                               </ul>
                           </div>
                           <span class="visible-print-inline" style="font-weight:bold">{{accountMove.orderNote}}</span>
                           <span class="visible-print-inline"  ng-show="accountMove.iscomplex" style="font-weight:lighter">(قيد مركب)</span>
                       </td>
                      <td>{{accountMove.orderNo}}</td>
                       <td>{{accountMove.debit == 0 ? '--' : accountMove.debit }}</td>
                       <td>{{accountMove.crdit == 0 ? '--' : accountMove.crdit }}</td>
                       <td>{{accountMove.date | date:'d/M/yyyy'}}</td>

                   </tr>
                  
               </tbody>
                <tfoot ng-show="selectedAccountId != 0">
                    <tr class="">
                        <td colspan="5">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    {{accountMoves[0].psummeryDate}}
                                </li>
                                <li class="list-group-item">
                                    {{accountMoves[0].summeryDate}}
                                </li>
                                <li class="list-group-item">
                                    {{accountMoves[0].summery}}
                                </li>
                            </ul>
                        </td>
                        
                    </tr>
                    <tr class="text-center" ng-show="accountMoves.length == 0">
                        <td style="padding:1em;font-weight:bold" colspan="5">
                            لا يوجد اي حركة مسجلة لهذا الحساب
                        </td>
                    </tr>
                </tfoot>
            </table>
            <ul class="hidden-print" ng-hide="!accountMoves.length || totalItems.length <= 1" uib-pagination total-items="totalItems" items-per-page="itemsperpage" first-text="الاول" next-text="التالي" previous-text="السابق"  last-text="الاخير" ng-model="currentPage" ng-change="pageChanged()"></ul>

        </div>
    </div>

    <div id="order-Modal" class="modal fade" role="dialog"  tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false">
        
        <div class="modal-body">

            <div class="portlet box grey-gallery">
                <div class="portlet-title">
                    <div class="caption">
                        {{ OrderTo.tilte}}
                    </div>
                  
                </div>
                <div class="portlet-body">
                    <div class="row border-default">
                        <ul class="list-group">
                            <li style="background-color:#ccc" class="list-group-item">
                                <label for="usr">البيان:</label>
                                <input ng-model="OrderTo.orderNote" type="text" class="form-control" id="usr">
                            </li>
                            <li ng-class="OrderTo.isDebit ? 'bg-green-meadow bg-font-green-meadow list-group-item' : 'bg-green-seagreen bg-font-green-seagreen list-group-item'">
                                <span style="font-weight:bold">{{OrderTo.accountName + AccountsTotalamount()}}</span>
                            </li>
                            <li ng-class="OrderTo.isDebit ? 'bg-green-seagreen bg-font-green-seagreen list-group-item' : 'bg-green-meadow bg-font-green-meadow list-group-item'">
                                <span style="font-weight:bold">{{OrderTo.isDebit ? 'الدائن :' : 'المدين :'}}</span>
                                <div style="margin-top:1em" data-ng-repeat="acc in OrderTo.secondAccount">

                                    <fieldset>
                                        <div class="form-group row">
                                            <div class="col-lg-7 col-md-7 col-sm-7">
                                                <label for="selecti">
                                                    الحساب
                                                </label>
                                                <ui-select on-select="removeacc(acc.account)" ng-model="acc.account" theme="bootstrap" name="selecti">
                                                    <ui-select-match ng-click="addacc(acc.account)" allow-clear="false" placeholder="حدد/ابحث (الحساب المدين)">
                                                        <span ng-bind="$select.selected.value"></span>
                                                    </ui-select-match>
                                                    <ui-select-choices ui-disable-choice="item.status" repeat="item in (accountsArray | filter: $select.search) track by $index">
                                                        <div ng-bind-html="item.value | highlight: $select.search"></div>
                                                        <small ng-bind-html="item.accountCatogery | highlight: $select.search"></small>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-sm-5">
                                                <label for="amounti">
                                                    القيمة
                                                </label>
                                                <input class="form-control" type="number" required ng-model="acc.amount" name="amounti" placeholder="المبلغ">
                                            </div>

                                        </div>
                                        <div>
                                            <button class="btn btn-sm remove" ng-disabled="acc.amount <= 0" ng-show="$last" ng-click="addNewAccounts(acc.account);">+</button>
                                            <button class="btn btn-sm remove" ng-disabled="acc.length <= 1" ng-show="$last" ng-click="removeAccounts(acc.account)">-</button>

                                        </div>

                                    </fieldset>

                                </div>
                            </li>
                            <li class="bg-blue-dark bg-font-blue-dark list-group-item">
                                الاجمالي :
                                <span>{{AccountsTotalamount()}}</span>

                            </li>
                            <li class="list-group-item">
                                <button class="btn btn-default" data-dismiss="modal" ng-class="closeModel();" aria-hidden="true">اغلاق</button>
                                <button ng-disabled="AccountsTotalamount() == 0" ng-click="saveOrder();closeModel();" class="btn btn-success" data-dismiss="modal" aria-hidden="true">حفظ</button>

                                <div>
                                    <p ng-show="showErrorMessage" class="warning">{{message}}</p>
                                </div>
                            </li>
                        </ul>


                    </div>
                </div>
               
            </div>

          
        </div>
      
    </div>
</div>

<script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/ui-extended-modals.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/ui-buttons.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<script src="../Scripts/js-custom-select-master.js"></script>
<script src="../assets/pages/scripts/form-validation-md.min.js" type="text/javascript"></script>
<script>

    $(".your_table_id").on("mousedown", "tr", function () {
        $(".selected").not(this).removeClass("selected");
        $(this).toggleClass("selected");
    });

    //date
    $(".integer").keypress(function (e) {
        if (e.which < 48 || e.which > 57) {
            showAdvice(this, "ارقام طبيعيه فقط");
            return (false);
        }
    });


    $(".decimal").keypress(function (e) {
        // 46 is a period
        if (e.which != 46 && (e.which < 48 || e.which > 57)) {
            showAdvice(this, "Decimal numbers only");
            return (false);
        }
        if (e.which == 46 && this.value.indexOf(".") != -1) {
            showAdvice(this, "Only one period allowed in decimal numbers");
            return (false);   // only one decimal allowed
        }


    });

    function showAdvice(obj, msg) {
        $("#singleAdvice").stop(true, false).remove();
        $('<span id="singleAdvice" class="advice">' + msg + '</span>').insertAfter(obj);
        $("#singleAdvice").delay(4000).fadeOut(1500);
    }

</script>


