﻿
<link href="/Content/jquery.treetable.css" rel="stylesheet" />
<!--<link href="../Content/jquery.treetable.theme.default.css" rel="stylesheet" />-->
<link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
<link href="../assets/apps/css/todo-rtl.min.css" rel="stylesheet" type="text/css" />
<link href="/Content/model-add-company.css" rel="stylesheet" />
<link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/js-custom-select-master.css" rel="stylesheet" />

<!--<link href="../Scripts/tree/themes/default/style.css" rel="stylesheet" />-->
<!--<link href="../Scripts/tree/themes/default-dark/style.min.css" rel="stylesheet" />-->

<style>
    /* content editable */

        .tiles .tile {
   
    height:100px !important;
   width: 136px!important;
   
}
.tiles .tile .tile-body>i {
    margin-top: 5px !important;
    font-size: 38px !important;
    text-align: right;
    line-height: 31px !important;
}

.tiles .tile .tile-object>.name {
   
    margin-right: 7px;
     margin-left: 0px !important; 
   
}

.tiles .tile .tile-object>.number {
    position: absolute;
    bottom: 47px;
    left: 4px;
    text-align: center;
    font-weight: 600;
    font-size: 27px;
    letter-spacing: .01em;
    line-height: 14px;
}


    *[contenteditable] {
        border-radius: 0.25em;
        min-width: 1em;
        outline: 0;
    }

    *[contenteditable] {
        cursor: pointer;
    }

        *[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover {
            background: #DEF;
            box-shadow: 0 0 1em 0.5em #DEF;
        }

    span[contenteditable] {
        display: inline-block;
    }

    /* heading */

    h1 {
        font: bold 100% sans-serif;
        text-align: center;
        text-transform: uppercase;
    }

    /* table */

    table {
        font-size: 100%;
        font-weight: bold;
        table-layout: fixed;
        width: 100%;
    }

    table {
        border-spacing: 2px;
    }

    th, td {
        border-width: 1px;
        padding: 0.5em;
        position: relative;
        text-align: right;
    }

    th, td {
        border-radius: 0.25em;
        border-style: solid;
    }

    th {
        background: #EEE;
        border-color: #BBB;
    }

    td {
        border-color: #DDD;
    }

    /* page */

    /*html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; }
    html { background: #999; cursor: default; }*/

    .invoice-body {
        box-sizing: border-box;
        min-height: 11in;
        margin: auto;
        overflow: hidden;
        max-width: 8.5in;
        -webkit-print-color-adjust: exact !important;
        position: relative;
    }

    .invoice-body {
        background: #FFF;
        border-radius: 1px;
        box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
        -webkit-print-color-adjust: exact !important;
    }

    /* header */

    header {
        margin: 0 0 3em;
    }

        header:after {
            clear: both;
            content: "";
            display: table;
        }

        header h1 {
            background: #000;
            border-radius: 0.25em;
            color: #FFF;
            margin: 0 0 1em;
            padding: 0.5em 0;
        }

        header address {
            float: right;
            font-size: medium;
            font-style: normal;
            line-height: 1.25;
            margin: 0 1em 1em 0;
        }

            header address p {
                margin: 0 0 0.25em;
            }

        header span, header img {
            display: block;
            float: left;
        }

        header span {
            margin: 0 0 1em 1em;
            max-height: 25%;
            max-width: 60%;
            position: relative;
        }

        header img {
            max-height: 100%;
            max-width: 100%;
        }

        header input {
            cursor: pointer;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

    /* article */

    article, article address, table.meta, table.inventory {
        margin: 0 0 3em;
    }

        article:after {
            clear: both;
            content: "";
            display: table;
        }

        article h1 {
            clip: rect(0 0 0 0);
            position: absolute;
        }

        article address {
            float: right;
            font-size: 125%;
            font-weight: bold;
        }

        /* table meta & balance */


        table.meta:after, table.balance:after {
            clear: both;
            content: "";
            display: table;
        }

    /* table meta */

    table.meta {
        margin-bottom: 1em;
    }

        table.meta th {
            width: 40%;
        }

        table.meta td {
            width: 60%;
        }

    /* table items */

    table.inventory {
        clear: both;
        width: 100%;
    }

        table.inventory th {
            font-weight: bold;
            text-align: center;
        }

        table.inventory td:nth-child(1) {
            width: 26%;
        }

        table.inventory td:nth-child(2) {
            width: 38%;
        }

        table.inventory td:nth-child(3) {
            text-align: left;
            width: 12%;
        }

        table.inventory td:nth-child(4) {
            text-align: left;
            width: 12%;
        }

        table.inventory td:nth-child(5) {
            text-align: left;
            width: 12%;
        }

    /* table balance */

    table.balance th, table.balance td {
        width: 50%;
        font-weight: bold;
    }

    table.balance td {
        text-align: left;
        font-weight: bold;
    }

    /* aside */

    aside h1 {
        border: none;
        border-width: 0 0 1px;
        margin: 0 0 1em;
    }

    aside h1 {
        border-color: #999;
        border-bottom-style: solid;
    }

    /* javascript */

    .add, .cut {
        border-width: 1px;
        display: block;
        font-size: .8rem;
        padding: 0.25em 0.5em;
        float: right;
        text-align: center;
        width: 1.6em;
    }

    .editable-input.editable-has-buttons {
        width: 100px !important;
    }

    .add, .cut {
        background: #9AF;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        background-image: -moz-linear-gradient(#00ADEE 5%, #0078A5 100%);
        background-image: -webkit-linear-gradient(#00ADEE 5%, #0078A5 100%);
        border-radius: 0.5em;
        border-color: #0076A3;
        color: #FFF;
        cursor: pointer;
        font-weight: bold;
        text-shadow: 0 -1px 2px rgba(0,0,0,0.333);
    }

    .add {
        margin: -2.5em 0 0;
    }

        .add:hover {
            background: #00ADEE;
        }

    .cut {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    .cut {
        -webkit-transition: opacity 100ms ease-in;
    }

    .cut {
        float: left;
        left: 0em;
    }

    tr:hover .cut {
        opacity: 1;
    }

    .orderCancel {
        font-size: 200px;
        position: absolute;
        text-align: center;
        top: 25%;
        left: 25%;
        z-index: 2000;
        opacity: .4;
        transform: rotate(-30deg);
    }

    .orderCancel-xs {
        font-size: 180px;
        position: absolute;
        text-align: center;
        top: 25%;
        right: 2px;
        z-index: 2000;
        opacity: .4;
        transform: rotate(-50deg);
    }
       .table-moves{
       border:1px solid black !important;
       border-bottom:0px !important;
       border-right:0px !important;

   }
  .table-moves th ,.table-moves td{
       border:1px solid black !important;
       text-align:center;
   }
  .table-moves td{
      font-weight:bold;
   }
  .table-moves td:nth-child(2){
      text-align:right !important;
  }
.table-moves  tfoot td{
    border:none !important;
    text-align:right !important;
}


    @media print {
        html {
            background: none;
            padding: 0;
            margin: 0;
        }

        body {
            box-shadow: none;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            -webkit-print-color-adjust: exact !important;
        }
        .invoice-body{
             border: 2px solid black;
             margin: 0.5em;
        }
        .tableprint{
            width:50%;
        }
        span:empty {
            display: none;
        }

        .add, .cut {
            display: none;
        }

        body, html {
            margin-top: 0px;
            padding-top: 0px;
        }

        input[type="checkbox"] {
            visibility: hidden;
        }


            input[type="checkbox"][checked] {
                visibility: visible;
            }

        @page {
            margin-top: 0;
            margin-bottom: 0;
        }
        /*@page { size: A4 }*/

        th {
            border-color: #000;
            border-right: 0px;
            border-left: 0px;
        }

        td {
            border-color: #000;
            border-right: 0px;
            border-left: 0px;
        }

        /*#footercompany {
            page-break-inside: avoid;
            page-break-after: auto;
        }*/

        .page-break {
            display: block;
            page-break-before: always;
        }

        table {
            page-break-after: auto;
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto;
        }

        td {
            page-break-inside: avoid;
            page-break-after: auto;
        }

        thead {
            display: table-header-group;
        }

        tfoot {
            display: table-footer-group;
        }
        .addborderTop{
                border-top: 2px solid !important;
        }

        .headerprint{
                text-align: center !important;
                font-weight: bold !important;
                margin-bottom: 1em !important;
                padding: 1em !important;
        }
       
    }


    /*End of invoice*/
    .img-responsive, .img-thumbnail, .table, label {
        float: left;
        margin-left: 6px;
    }


    .invoice-name {
        background: #000;
        border-radius: 0.25em;
        color: #FFF;
        margin: 0 0 1em;
        padding: 0.5em 0;
    }

    .ui-select-bootstrap .ui-select-toggle > .caret {
        right: initial;
        left: 10px; /* or any other value - it should be the same as the original right value */
    }


    .ui-select-bootstrap > .ui-select-match > .btn {
        text-align: right !important;
        direction: rtl;
    }

        .ui-select-bootstrap > .ui-select-match > .btn > span.pull-left {
            float: right !important;
        }

    fieldset {
        background: #FCFCFC;
        padding: 16px;
        border: 1px solid #D5D5D5;
    }

    .addfields {
        margin: 10px 0;
    }

    #choicesDisplay {
        margin-top: 10px;
        padding: 10px;
        background: rgb(227, 250, 227);
        border: 1px solid rgb(171, 239, 171);
        color: rgb(9, 56, 9);
    }

    .remove {
        background: #C76868;
        color: #FFF;
        font-weight: bold;
        font-size: 21px;
        border: 0;
        cursor: pointer;
        display: inline-block;
        padding: 4px 9px;
        vertical-align: top;
        line-height: 100%;
    }
</style>
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">الرئيسية</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">حسابات</a>
            <i class="fa fa-circle"></i>

        </li>
        <li>
            <a href="#">تحويل وارد</a>
        </li>
    </ul>

</div>

<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12" ng-if="branchGroub">

    </div>

</div>


<hr class="hidden-print" />
<div class="row">
    <div class="invoice-body" style="border:2px solid black">
        <header>

            <address class="visible-print">
                <p>{{'الشركة :' + branchGroub.fullName}}</p>
                
            </address>
            <address class="visible-print" style="float:left;margin-left:7px;">
                <p>{{ 'تاريخ الطباعة :' + nowDate}}</p>

            </address>
            <div class="row hidden-print">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="note note-danger hidden-print">
                        <div class="caption">

                            المخزن -
                            <a buttons="no" href="#" editable-select="order.transferFrom.inventoryId" e-ng-options="c.inventoryId as c.inventoryName for c in inventory">
                                {{order.transferFrom.inventoryName|| 'حدد المخزن'}}
                            </a>
                        </div>

                    </div>
                </div>
              
            </div>

        
           
        </header>
        <header class="hidden-print">
            <h1>

                {{'اذن تحويل وارد - مخزن ' + order.transferFrom.inventoryName + ' - ' + order.transferFrom.code}}

            </h1>
        </header>
        <header class="" style="border-top:solid 2px black">
            
        </header>
        <article style="padding: 2em;margin-top:-3.8em;margin-bottom: 6em;" class="addborderTop">
            <section class="visible-print headerprint">
                <div>
                    {{'اذن تحويل وارد ' + order.transferFrom.inventoryName + ' - ' + order.transferFrom.code}}
                </div>
            </section>
            <div class="panel panel-default" style="border:1px solid;padding-bottom:0px;border-bottom:0px">
                <div class="panel-body" style="padding-bottom: 0px;">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 tableprint">
                            <table class="meta" style="width:100% !important">
                                <tr>
                                    <th style="border-top:0px">
                                        <span>
                                            <a href="#" class="visible-print">الرقم #</a>
                                            <a class="hidden-print"
                                               mwl-confirm
                                               title="{{ 'اذن جديد' }}"
                                               message="{{ 'انشاء اذن جديد ؟' }}"
                                               confirm-text="{{ 'موافق' }}"
                                               cancel-text="{{ 'الغاء' }}"
                                               placement="{{ 'top' }}"
                                               on-confirm="newOrder()"
                                               on-cancel=""
                                               confirm-button-type="danger"
                                               cancel-button-type="default">
                                                الرقم #
                                            </a>
                                        </span>
                                    </th>
                                    <td style="border-top:0px">
                                        <span></span>
                                        <div class="popover-wrapper">
                                            <a href="#" editable-text="order.orderNo" onbeforesave="findOrderById($data)">{{order.orderNo}}</a>

                                        </div>
                                    </td>
                                </tr>
                                <tr ng-show="order.isDoneSecond">
                                    <th><span>تاريخ الاستلام</span></th>
                                    <td><span>{{order.orderDateSecond}}</span></td>
                                </tr>
                                <tr>
                                    <th><span>رقم التحويل الصادر</span></th>
                                    <td>
                                        <span></span>
                                        <div class="popover-wrapper">
                                            <a href="#" editable-text="order.orderNoIn" onbeforesave="findTransferOrderById($data)">{{order.orderNoIn}}</a>

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><span>تاريخ التحويل</span></th>
                                    <td><span>{{order.orderDate}}</span></td>
                                </tr>
                                <tr>
                                    <th style="border-top:0px"><span>{{'محول من'}} </span></th>
                                    <td style="text-align:right;border-top:0px">
                                        <span style="float: right;">
                                            {{ order.transferTo.inventoryName + ' - ' + order.transferTo.code}}
                                        </span>
                                    </td>
                                </tr>
                               
                            </table>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="hidden-print">
                                <div class="tiles Center">
                                    <div class="tile bg-blue bg-font-blue" ng-click="getwaiting()">
                                        <div class="tile-body">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </div>
                                        <div class="tile-object">
                                            <div class="name"> تحويلات بانتظار التاكيد </div>
                                            <div class="number"> {{waitingorderCount}}</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div  class="panel panel-default" style="margin-top:-1.3em;padding-bottom:0px;border:1px solid;border-top:0px;border-bottom:0px">
                <div class="panel-body">
                    <div class="orderCancel hidden-xs" ng-show="order.cancel">
                        لاغي
                    </div>
                    <div class="orderCancel-xs visible-xs" ng-show="order.cancel">
                        لاغي
                    </div>
                    <table class="table-responsive inventory">
                        <caption style="text-align:center;color:black">

                            البيان
                        </caption>
                        <thead>
                            <tr>
                                <th style="width:3em">#</th>
                                <th><span>الصنف</span></th>
                                <th><span>الكمية</span></th>
                                <th class="hidden-xs"><span>ملاحظات</span></th>
                                <th class="hidden-xs"><span>ملاحظات المستلم</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-keyup="keys($event)" ng-repeat="(keyrow ,transferItem) in order.transferItems track by keyrow">
                                <th>{{ $index + 1}}</th>
                                <td style="text-align:center">
                                    {{transferItem.itemName}}
                                    <br />
                                    {{transferItem.itemCode}}
                                </td>
                                <td style="text-align:center">
                                    {{transferItem.qty}}
                                </td>
                                <td class="hidden-xs" style="text-align:center">
                                    {{transferItem.note}}
                                </td>
                                <td class="hidden-xs" style="text-align:center" ng-show="!order.cancel && order.isDoneSecond">
                                    {{transferItem.noteSecond}}
                                </td>
                                <td class="hidden-print hidden-xs" style="text-align:center" ng-show="!order.cancel && !order.isDoneSecond">
                                    <input id="note{{$index + 1}}" type="text" ng-model="transferItem.noteSecond" class="form-control" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div ng-show="order.isDoneFirst" class="panel panel-default" style="margin-top: -1.3em;border:1px solid;border-top:0px">
                <div class="panel-body">

                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <table class="balance">

                                <tr class="hidden-print" ng-show="!vaildOrder()">
                                    <td colspan="2">
                                        <a ng-show="!order.cancel && !order.isDoneSecond && order.isDoneFirst"
                                           ng-disabled="vaildOrder()"
                                           style="width: 100%;"
                                           class="btn btn-lg green hidden-print margin-bottom-5"
                                           mwl-confirm
                                           title="{{ 'تاكيد الاستلام' }}"
                                           message="{{ 'لن يمكنك التراجع عن التاكيد فيما بعد - هل تريد الاستمرار ؟' }}"
                                           confirm-text="{{ 'استمرار' }}"
                                           cancel-text="{{ 'اغلاق' }}"
                                           placement="{{ 'top' }}"
                                           on-confirm="saveOrder()"
                                           on-cancel=""
                                           confirm-button-type="danger"
                                           cancel-button-type="default">
                                            تاكيد الاستلام
                                            <i class="fa fa-remove"></i>
                                        </a>
                                        <a ng-disabled="vaildOrder();" ng-if="order.isDoneSecond" class="btn btn-lg blue hidden-print margin-bottom-5" style="width: 100%;" onclick="javascript:window.print();">
                                            طباعة
                                            <i class="fa fa-print"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 tableprint" style="float:left !important;">
                            <table class="balance">
                                <tr>
                                    <th style="border-top:0px"><span>حرر بواسطة</span></th>
                                    <td style="border-top:0px"><span style="float:right">{{order.userNameFirst}}</span></td>

                                </tr>
                                <tr ng-show="order.cancel">
                                    <th style="border-top:0px"><span>الغي بواسطة</span></th>
                                    <td style="border-top:0px"><span style="float:right">{{order.userNameCancel}}</span></td>

                                </tr>
                                <tr ng-show="order.isDoneSecond">
                                    <th style="border-top:0px"><span>استلم بواسطة</span></th>
                                    <td style="border-top:0px"><span style="float:right">{{order.userNameSecond}}</span></td>

                                </tr>
                            </table>
                        </div>
                    </div>


                </div>
            </div>


        </article>

        <div id="waiting-model" class="modal fade container" role="dialog">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">تحويلات بانتظار التاكيد</h4>
            </div>
            <div class="modal-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover table-moves">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>الرقم</th>
                                <th>صادر من</th>
                                <th>وارد الي</th>
                                <th>تاريخ الصدور</th>
                                <th>المحرر</th>
                                <th>--</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="wating in waitingorder">
                                <td>{{$index}}</td>
                                <td>{{wating.orderNo}}</td>
                                <td>{{wating.inventoryfrom}}</td>
                                <td>{{wating.inventoryTo}}</td>
                                <td>{{wating.date | date:'yyyy-MM-dd'}}</td>
                                <td>{{wating.user}}</td>

                                <td>
                                    <div class="btn-group hidden-print" role="group">
                                      
                                        <a class="btn green btn-sm" ng-click="getwaitOrder(wating)">
                                            اطلاع
                                            <i class="fa fa-eye"></i>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="">اغلاق</button>
            </div>
        </div>
     
    </div>

</div>


<script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/ui-extended-modals.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/ui-buttons.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<script src="../Scripts/js-custom-select-master.js"></script>
<script src="../assets/pages/scripts/form-validation-md.min.js" type="text/javascript"></script>
<script>

    $("#tree_table").treetable();


    //date
    $(".integer").keypress(function (e) {
        if (e.which < 48 || e.which > 57) {
            showAdvice(this, "ارقام طبيعيه فقط");
            return (false);
        }
    });


    $(".decimal").keypress(function (e) {
        // 46 is a period
        if (e.which != 46 && (e.which < 48 || e.which > 57)) {
            showAdvice(this, "Decimal numbers only");
            return (false);
        }
        if (e.which == 46 && this.value.indexOf(".") != -1) {
            showAdvice(this, "Only one period allowed in decimal numbers");
            return (false);   // only one decimal allowed
        }


    });

    function showAdvice(obj, msg) {
        $("#singleAdvice").stop(true, false).remove();
        $('<span id="singleAdvice" class="advice">' + msg + '</span>').insertAfter(obj);
        $("#singleAdvice").delay(4000).fadeOut(1500);
    }

</script>


