﻿
<link href="/Content/jquery.treetable.css" rel="stylesheet" />
<!--<link href="../Content/jquery.treetable.theme.default.css" rel="stylesheet" />-->
<link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
<link href="../assets/apps/css/todo-rtl.min.css" rel="stylesheet" type="text/css" />
<link href="/Content/model-add-company.css" rel="stylesheet" />
<link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/js-custom-select-master.css" rel="stylesheet" />
<!--<link href="../Scripts/tree/themes/default/style.css" rel="stylesheet" />-->
<!--<link href="../Scripts/tree/themes/default-dark/style.min.css" rel="stylesheet" />-->

<style>

    /* content editable */

*[contenteditable] { border-radius: 0.25em; min-width: 1em; outline: 0; }

*[contenteditable] { cursor: pointer; }

*[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover { background: #DEF; box-shadow: 0 0 1em 0.5em #DEF; }

span[contenteditable] { display: inline-block; }

/* heading */

h1 { font: bold 100% sans-serif; text-align: center; text-transform: uppercase; }

/* table */

table { font-size: 100%;font-weight:bold; table-layout: fixed; width: 100%; }
table {  border-spacing: 2px; }
th, td { border-width: 1px; padding: 0.5em; position: relative; text-align: right; }
th, td { border-radius: 0.25em; border-style: solid; }
th { background: #EEE; border-color: #BBB; }
td { border-color: #DDD; }

/* page */

/*html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; }
html { background: #999; cursor: default; }*/

.invoice-body { box-sizing: border-box; min-height: 11in; margin: auto; overflow: hidden; width: 8.5in;width: 80%; -webkit-print-color-adjust: exact !important;position:relative }
.invoice-body { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); -webkit-print-color-adjust: exact !important;}

/* header */

header { margin: 0 0 3em; }
header:after { clear: both; content: ""; display: table; }

header h1 { background: #000; border-radius: 0.25em; color: #FFF; margin: 0 0 1em; padding: 0.5em 0; }
header address { float: right; font-size: medium; font-style: normal; line-height: 1.25; margin: 0 1em 1em 0; }
header address p { margin: 0 0 0.25em; }
header span, header img { display: block; float: left; }
header span { margin: 0 0 1em 1em; max-height: 25%; max-width: 60%; position: relative; }
header img { max-height: 100%; max-width: 100%; }
header input { cursor: pointer; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; width: 100%; }

/* article */

article, article address, table.meta, table.inventory { margin: 0 0 3em; }
article:after { clear: both; content: ""; display: table; }
article h1 { clip: rect(0 0 0 0); position: absolute; }

article address { float: right; font-size: 125%; font-weight: bold; }

/* table meta & balance */

table.meta, table.balance { float: right; width: 36%; }
table.meta:after, table.balance:after { clear: both; content: ""; display: table; }

/* table meta */
   
    table.meta {  margin-bottom: 1em; }
table.meta th { width: 40%; }
table.meta td { width: 60%; }

/* table items */

table.inventory { clear: both; width: 100%; }
table.inventory th { font-weight: bold; text-align: center; }

table.inventory td:nth-child(1) { width: 26%; }
table.inventory td:nth-child(2) { width: 38%; }
table.inventory td:nth-child(3) { text-align: left; width: 12%; }
table.inventory td:nth-child(4) { text-align: left; width: 12%; }
table.inventory td:nth-child(5) { text-align: left; width: 12%; }

/* table balance */

table.balance th, table.balance td { width: 50%; font-weight:bold}
table.balance td { text-align: left; font-weight:bold}

/* aside */

aside h1 { border: none; border-width: 0 0 1px; margin: 0 0 1em; }
aside h1 { border-color: #999; border-bottom-style: solid; }

/* javascript */

.add, .cut
{
	border-width: 1px;
	display: block;
	font-size: .8rem;
	padding: 0.25em 0.5em;	
	float: right;
	text-align: center;
	width: 1.6em;
}
.editable-input.editable-has-buttons {
    width : 100px !important;
}

.add, .cut
{
	background: #9AF;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background-image: -moz-linear-gradient(#00ADEE 5%, #0078A5 100%);
	background-image: -webkit-linear-gradient(#00ADEE 5%, #0078A5 100%);
	border-radius: 0.5em;
	border-color: #0076A3;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	text-shadow: 0 -1px 2px rgba(0,0,0,0.333);
}

.add { margin: -2.5em 0 0; }

.add:hover { background: #00ADEE; }

.cut { opacity: 0; position: absolute; top: 0; left: 0; }
.cut { -webkit-transition: opacity 100ms ease-in; }
.cut{
    float: left;
    left: 0em;
}
tr:hover .cut { opacity: 1; }

@media print {

     .invoice-body {
        box-sizing: border-box;
        min-height: 11in;
        margin: auto;
        overflow: hidden;
        width: 8.5in;
    }
	html { background: none; padding: 0;margin:0}
	body { box-shadow: none; margin: 0 0 0 0;padding:0 0 0 0; -webkit-print-color-adjust: exact !important;}
	span:empty { display: none; }
	.add, .cut { display: none; }
    body, html {
margin-top:0px;
padding-top:0px;
}
  input[type="checkbox"]
  {
    visibility: hidden;
  }


  input[type="checkbox"][checked]
  {
    visibility: visible;
  }

 @page { margin-top: 0; margin-bottom:0}

 th { border-color: #000; border-right:0px;border-left:0px}
td { border-color: #000; border-right:0px;border-left:0px}

#footercompany{
   page-break-inside:avoid; page-break-after:auto
}
.page-break	{ display: block; page-break-before: always; }
table { page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }
 
}


        /*End of invoice*/
    .img-responsive, .img-thumbnail, .table, label {
   float:left;
   margin-left:6px;
}
    

   .invoice-name { background: #000; border-radius: 0.25em; color: #FFF; margin: 0 0 1em; padding: 0.5em 0; }

    .ui-select-bootstrap .ui-select-toggle > .caret {
        right: initial;
        left: 10px; /* or any other value - it should be the same as the original right value */
    }


    .ui-select-bootstrap > .ui-select-match > .btn {
        text-align: right !important;
        direction: rtl;
    }
     .ui-select-bootstrap > .ui-select-match > .btn > span.pull-left {
            float: right !important;
        }

    fieldset {
        background: #FCFCFC;
        padding: 16px;
        border: 1px solid #D5D5D5;
    }
    .addfields {
        margin: 10px 0;
    }

    #choicesDisplay {
        margin-top: 10px;
        padding: 10px;
        background: rgb(227, 250, 227);
        border: 1px solid rgb(171, 239, 171);
        color: rgb(9, 56, 9);
    }

    .remove {
        background: #C76868;
        color: #FFF;
        font-weight: bold;
        font-size: 21px;
        border: 0;
        cursor: pointer;
        display: inline-block;
        padding: 4px 9px;
        vertical-align: top;
        line-height: 100%;
    }
</style>
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">الرئيسية</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">حسابات</a>
            <i class="fa fa-circle"></i>

        </li>
        <li>
            <a href="#">اذون وفواتير</a>
        </li>
    </ul>

</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="note note-success hidden-print">
            <div class="caption">

                نوع الاذون -
                <a buttons="no" href="#" editable-select="selectedOrderGroupName.orderGroupId" e-ng-options="c.orderGroupId as c.orderGroupName for c in orderGroupNames">
                    {{ selectedOrderGroupName.orderGroupName}}
                </a>
            </div>

        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="note note-danger hidden-print">
            <div class="caption">
                المخزن -
                <a buttons="no" href="#" editable-select="bill.billMainAccount.accountId" e-ng-options="c.accountId as c.accountName for c in selectedOrderGroupName.orderMainAccounts">
                    {{bill.billMainAccount.accountName}}
                </a>
            </div>

        </div>
    </div>
</div>


<hr class="hidden-print" />
<div class="row" ng-show="bill.billName.billName !== 'الاذن / الفاتورة'">
    <div class="invoice-body" style="border:2px solid black">
        <header>
          
            <address>
                <p>{{branchGroub.fullName}}</p>
                <p>{{branchGroub.address|| '---'}}</p>
                <p>{{branchGroub.phone|| '---'}}</p>
            </address>
            <span><img src="../assets/pages/media/invoice/invoice.png" class="img-responsive" alt="" /></span>
        </header>
        <header class="hidden-print">
            <h1>
                {{bill.billName.billName}}
              
            </h1>
        </header>
        <header class="visible-print" style="border:solid 2px black">
            <h1>
                {{bill.billName.billName}}
            </h1>
        </header>
        <article ng-show="bill.billName.billName !== 'الاذن / الفاتورة'" style="padding: 2em;margin-top:-3.8em;margin-bottom: 6em;">
            <div class="panel panel-default" style="border:1px solid;padding-bottom:0px;border-bottom:0px">
                <div class="panel-body" style="padding-bottom: 0px;">
                    <table class="meta" style="float:left">
                        <tr>
                            <th style="border-top:0px"><span>{{labalAccount}} </span></th>
                            <td ng-if="isNewbill" style="text-align:right;border-top:0px">
                                <span style="float: right;">
                                    <a style="float:left;border-bottom: 1px #428bca;line-height:40%" href="#" editable-select="bill.billTitleaccount.accountId" e-ng-options="c.accountId as c.accountName for c in titleAccounts">
                                        {{ bill.billTitleaccount.accountName}}
                                    </a>
                                </span>
                            </td>
                            <td ng-if="!isNewbill" style="text-align:right;border-top:0px">
                                <span style="float: right;">
                                   {{ bill.billTitleaccount.accountName}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th><span>العنوان</span></th>
                            <td><span contenteditable>{{"--"}}</span></td>
                        </tr>
                        <tr>
                            <th><span>التليفون</span></th>
                            <td><span contenteditable>{{"01002800088"}}</span></td>
                        </tr>
                    </table>

                    <table class="meta">
                        <tr>
                            <th style="border-top:0px">
                            <span>
                                <a href="#" class="visible-print">الرقم #</a>
                                <a class="hidden-print"
                                        mwl-confirm
                                        title="{{ 'تاكيد' }}"
                                        message="{{ 'انشاء اذن جديد ؟' }}"
                                        confirm-text="{{ 'موافق' }}"
                                        cancel-text="{{ 'الغاء' }}"
                                        placement="{{ 'top' }}"
                                        on-confirm="confirmNewOrderClicked()"
                                        on-cancel=""
                                        confirm-button-type="danger"
                                        cancel-button-type="default">
                                    الرقم #
                                </a>
                             </span>
                            </th>
                            <td style="border-top:0px">
                                <span></span>
                                <div class="popover-wrapper">
                                    <a href="#"  editable-text="bill.billNo" onbeforesave="getBillById($data)">{{bill.billNo}}</a>
                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><span>التاريخ</span></th>
                            <td><span>{{bill.billDate}}</span></td>
                        </tr>
                        <tr>
                            <th><span>المبلغ المستحق</span></th>
                            <td><span>{{orderTotal()}}</span><span id="prefix">جنية</span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-default" style="margin-top:-1.3em;padding-bottom:0px;border:1px solid;border-top:0px;border-bottom:0px">
                <div class="panel-body">
                    <table class="inventory">
                        <thead>
                            <tr>
                                <th style="width:3em">#</th>
                                <th ng-repeat="itemProperty in bill.billItems" on-finish-render="finishedIRenderitemCol"><span contenteditable>{{itemProperty.itemPropertyName}}</span></th>
                                <th><span contenteditable>{{"الاجمالي"}}</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  ng-keyup="keys($event)" ng-repeat="(keyrow ,row) in rowColumns">
                                <th>{{ $index + 1}}</th>
                                <td class="text-center" style="text-align:center" ng-repeat="(key , propertyValue) in row track by $index">
                                    <input ng-if="!(propertyValue.type == 'item' || propertyValue.type == 'code') && isNewbill"  class="form-control hidden-print" type="number" min="0.00" step="1"  ng-class="propertyValue.type == 'qty' ? 'qty{{keyrow + key}}' : ''" id="{{propertyValue.type +keyrow +key}}"  ng-model="propertyValue.itemPropertyValueName" ng-change="getitemsTotalRow(row);orderTotal()"/>
                                    <span class="visible-print" ng-if="!(propertyValue.type == 'item' || propertyValue.type == 'code')">{{propertyValue.itemPropertyValueName}}</span>
                                    <span class="hidden-print" ng-if="!(propertyValue.type == 'item' || propertyValue.type == 'code') && !isNewbill">{{propertyValue.itemPropertyValueName}}</span>

                                    <!-- <span ng-if="(propertyValue.type == 'code')" contenteditable ng-model="itemcodebill" ng-change="getItembyCode(itemcodebill , row)"></span>-->
                                    <span ng-if="(propertyValue.type == 'item')">{{propertyValue.itemPropertyValueName}}</span>
                                    <span class="visible-print" ng-if="(propertyValue.type == 'code')">{{propertyValue.itemPropertyValueName}}</span>
                                    <span class="hidden-print" ng-if="(propertyValue.type == 'code') && !isNewbill">{{propertyValue.itemPropertyValueName}}</span>

                                    <div class="hidden-print">
                                        <ui-select id="ui{{key}}" autofocus ng-if="(propertyValue.type == 'code') && isNewbill" ng-model="selecteditems" on-select="getItembyCode($item, row , '{{'qty' + keyrow}}' , key , keyrow)" theme="bootstrap">
                                            <ui-select-match>
                                                <span ng-bind="$select.selected.code"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in (itemsforBill | filter: $select.search) track by item.itemPropertyValueId">

                                                <div ng-bind-html="item.itemPropertyValueName | highlight: $select.search"></div>
                                                <small>
                                                    الكود: {{item.code}}
                                                </small>
                                            </ui-select-choices>
                                            <ui-select-no-choice>
                                                غير موجود
                                            </ui-select-no-choice>
                                        </ui-select>
                                    </div>
                                </td>
                                <td style="text-align:center"><a ng-if="isNewbill && rowColumns.length > 1" ng-click="removeItemPropertyValue(keyrow)" class="cut">-</a><span>{{getitemsTotalRow(row)}}</span><span data-prefix>جـ </span></td>

                            </tr>
                        </tbody>
                    </table>
                    <a class="add" ng-if="isNewbill" ng-click="addNewitemPropertyValue()">+</a>
                </div>
            </div>
           <div class="panel panel-default" style="margin-top: -1.3em;border:1px solid;border-top:0px">
               <div class="panel-body">
                   <table class="balance">
                       <tr ng-repeat="(keybill , otherAccount) in bill.billOtherTotalAcounts">
                           <th style="border-top:0px"><span>{{otherAccount.accountName}}</span></th>
                           <td  ng-if="isNewbill" class="hidden-print" style="border-top:0px"><input style="float:right" class="form-control"  ng-model="bill.billOtherTotalAcounts[keybill].value"  type="number" min="0" ng-change="orderTotal()"/></td>
                           <td class="visible-print"  style="border-top:0px"><span style="float:right">{{bill.billOtherTotalAcounts[keybill].value}}</span><span data-prefix>جنية</span></td>
                           <td class="hidden-print" ng-if="!isNewbill" style="border-top:0px"><span style="float:right">{{bill.billOtherTotalAcounts[keybill].value}}</span><span data-prefix>جنية</span></td>

                       </tr>

                       <tr>
                           <th ng-style="{'border-top' : (bill.billOtherTotalAcounts.length === 0) ? '0px' : ''}"><span>المبلغ المستحق</span></th>
                           <td ng-style="{'border-top' : (bill.billOtherTotalAcounts.length === 0) ? '0px' : ''}"><span style="float:right">{{orderTotal()}}</span><span data-prefix>جنية</span></td>
                       </tr>
                       <tr class="hidden-print">
                           <td  ng-show="!vaildBill()" colspan="2"> 
                               <a ng-disabled="vaildBill()"  style="width: 100%;"  ng-if="isNewbill" ng-click="saveBill()" class="btn btn-lg green hidden-print margin-bottom-5">
                                   حفظ
                                   <i class="fa fa-check"></i>
                               </a>
                               <a ng-disabled="vaildBill();" ng-if="!isNewbill" class="btn btn-lg blue hidden-print margin-bottom-5"  style="width: 100%;" onclick="javascript:window.print();">
                                   طباعة
                                   <i class="fa fa-print"></i>
                               </a>
                           </td>
                       </tr>
                   </table>
                   <table class="balance" style="float:left">
                       <tr>
                           <th class="hidden-print" ng-if="isNewbill" style="border-top:0px" colspan="2">
                               <div>
                                   <label style="float:right">طريقة الدفع</label>
                                   <br class="hidden-print" />
                                   <div class="md-radio-inline hidden-print">
                                       <div class="md-radio" ng-repeat="(paykey , pay) in billPaymethods">
                                           <input type="radio" ng-click="getSelectedPay(pay)" id="radio{{paykey}}" ng-value="selectedPay.payName === pay.payName ? true : false" name="radio2" class="md-radiobtn">
                                           <label for="radio{{paykey}}">
                                               <span></span>
                                               <span class="check"></span>
                                               <span class="box"></span> {{pay.payName}}
                                           </label>
                                       </div>
                                   </div>
                                   <span class="visible-print" style="font-weight:bold">{{': ' + selectedPay.payName}}</span>
                               </div>
                           </th>
                           <th class="visible-print"  style="border-top:0px">
                              طريقة الدفع 
                           </th>
                           <td class="visible-print" style="text-align:right;border-top:0px"><span>{{selectedPay.payName}}</span></td>
                           <th class="hidden-print" ng-if="!isNewbill" style="border-top:0px">
                               طريقة الدفع
                           </th>
                           <td class="hidden-print"  ng-if="!isNewbill" style="text-align:right;border-top:0px"><span>{{selectedPay.payName}}</span></td>

                       </tr>
                       <tr class="hidden-print">
                           <th>
                               الحساب
                           </th>
                           <td ng-if="isNewbill" style="text-align:right">
                               <a href="#" editable-select="bill.billTotalAccount.accountId" buttons="no" e-ng-options="c.accountId as c.accountName for c in selectedPay.accounts">
                                   {{ bill.billTotalAccount.accountName}}
                               </a>
                           </td>
                           <td ng-if="!isNewbill" style="text-align:right">
                              {{ bill.billTotalAccount.accountName}}
                           </td>
                       </tr>
                       <tr ng-repeat="propertyMe in selectedPay.billPaymethodProperties ">
                           <th>{{propertyMe.name}}</th>
                           <td class="visible-print" style="text-align:right"><span>{{propertyMe.value}}</span></td>
                           <td class="hidden-print" ng-if="!isNewbill" style="text-align:right"><span>{{propertyMe.value}}</span></td>

                           <td class="hidden-print" ng-if="propertyMe.typeName === 'نص' && isNewbill" style="text-align:right"><input ng-model="propertyMe.value" class="form-control" type="text"></td>

                           <td class="hidden-print" ng-if="propertyMe.typeName === 'عدد عشري' && isNewbill" style="text-align:right"><input ng-model="propertyMe.value" class="form-control integer" type="number" min="0.00" step="1.00"></td>
                           <td class="hidden-print" ng-if="propertyMe.typeName === 'عدد صحيح' && isNewbill" style="text-align:right"><input ng-model="propertyMe.value" class="form-control integer" type="number" step="1" min="0"/></td>
                           <td class="hidden-print" ng-if="propertyMe.typeName === 'تاريخ - اشعار' || propertyMe.typeName === 'تاريخ' && isNewbill" style="text-align:right">
                               <input ng-show="isNewbill" type="text" class="form-control" name="notfydate" ng-model="propertyMe.value" />
                               <script>
                                   jQuery('input[name="notfydate"]').daterangepicker({
                                       "singleDatePicker": true,
                                       "startDate": moment().format('DD/MM/YYYY'),
                                       "minDate": moment().format('DD/MM/YYYY'),
                                       "locale": {
                                           "format": "DD/MM/YYYY"
                                       }
                                   });
                               </script>
                           </td>
                           
                       </tr>
                       <tr>
                           <th>المسؤل</th>

                           <td style="text-align:right"><span  style="float:right">{{bill.worker}}</span></td>
                       </tr>
                   </table>
               </div>
           </div>
     
           
        </article>
    
        <footer class="page-break" style="width: 100%;bottom:0;position:absolute;border-top: 1px solid #000;padding:1em;padding-bottom:0px">
            
            <!--<address class="page-break" style="float:right;line-height: .1;">
                <p class="page-break" >{{ branchGroub.email}}</p>
                <p class="page-break" >{{branchGroub.address|| '---'}}</p>

                <p class="page-break" {{branchGroub.address|| '---'}}</p>
            </address>
           
            <address class="page-break" style="float:left;line-height: .1;">
                <p class="page-break" >{{ branchGroub.fullName}}</p>
                <p class="page-break" >{{branchGroub.address|| '---'}}</p>
                <p class="page-break" >{{branchGroub.address|| '---'}}</p>
            </address>-->
        </footer>
    </div>
  
</div>


<script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/ui-extended-modals.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/ui-buttons.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<script src="../Scripts/js-custom-select-master.js"></script>
<script src="../assets/pages/scripts/form-validation-md.min.js" type="text/javascript"></script>
<script>

    $("#tree_table").treetable();


    //date
    $(".integer").keypress(function (e) {
        if (e.which < 48 || e.which > 57) {
            showAdvice(this, "ارقام طبيعيه فقط");
            return (false);
        }
    });


    $(".decimal").keypress(function (e) {
        // 46 is a period
        if (e.which != 46 && (e.which < 48 || e.which > 57)) {
            showAdvice(this, "Decimal numbers only");
            return (false);
        }
        if (e.which == 46 && this.value.indexOf(".") != -1) {
            showAdvice(this, "Only one period allowed in decimal numbers");
            return (false);   // only one decimal allowed
        }


    });

    function showAdvice(obj, msg) {
        $("#singleAdvice").stop(true, false).remove();
        $('<span id="singleAdvice" class="advice">' + msg + '</span>').insertAfter(obj);
        $("#singleAdvice").delay(4000).fadeOut(1500);
    }

</script>


