.multiSelect {
    overflow: auto;
    padding-bottom: 10px;
}

.multiSelect  .multiborder {
    border: 1px solid;
}


.multiSelect .list-group-item {
    position: relative;
    display: block;
    padding: 10px 30px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

    .multiSelect ul {
        list-style: none;
        min-height: 300px;
        max-height: 300px;
        overflow-y: scroll;
    }
.multiSelect .select {
    margin-right: 20px;
    float: left;
    width: 100%;
}
.multiSelect .text {
    clear: both;
    font-size: 11px;
}

    .multiSelect .tilte {
        margin-bottom: 0;
        background-color: cornflowerblue;
        width: 100%;
        padding: 8px;
        font-size: 14px;
        font-weight: 500;
        /* display: table-row; */
        vertical-align: middle;
        border-color: inherit;
        text-align: center;
        border-bottom: 1px solid;
       
    }

.multiSelect label.checkbox {
    margin-bottom: 0;

}
.btn.mover {
    display: block;
    margin-top: 25px;
    vertical-align: top;
}
.btn.mover.left {
    padding: 6px 8px 6px 6px;
}
.btn.mover.right {
    margin-top: 5px;
    padding: 6px 7px;
}
.buttons.stacked .btn.mover {
    margin: 0 0 10px 0;
}
.btn.mover.left i, .btn.mover.right i {
    margin: 0;
}
.multiSelect select[multiple],.multiSelect select[size] {
    height: auto;
    min-height: 30%!important;
   /*text-align: center;
   width:100% !important;*/
}