﻿<!--LOADING-->
<link href="../Scripts/multi-select/angular-multi-select.css" rel="stylesheet" />
<link href="../Content/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />

<script src="../Content/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>

<style>


    .tiles .tile {
        height: 100px !important;
        width: 136px !important;
    }

        .tiles .tile .tile-body > i {
            margin-top: 5px !important;
            font-size: 38px !important;
            text-align: right;
            line-height: 31px !important;
        }

        .tiles .tile .tile-object > .name {
            margin-right: 7px;
            margin-left: 0px !important;
        }

        .tiles .tile .tile-object > .number {
            position: absolute;
            bottom: 47px;
            left: 4px;
            text-align: center;
            font-weight: 600;
            font-size: 27px;
            letter-spacing: .01em;
            line-height: 14px;
        }


    .orderCancel {
        font-size: 200px;
        position: absolute;
        text-align: center;
        top: 25%;
        left: 25%;
        z-index: 2000;
        opacity: .4;
        transform: rotate(-30deg);
    }

    .orderCancel-xs {
        font-size: 180px;
        position: absolute;
        text-align: center;
        top: 25%;
        right: 2px;
        z-index: 2000;
        opacity: .4;
        transform: rotate(-50deg);
    }

    .table-property {
        border-collapse: separate !important;
        width: 100% !important;
        border-radius: 1px !important;
    }

        .table-property th, .table-property td {
            border-collapse: separate !important;
            border: 1px solid black !important;
            border-radius: 2px !important;
            text-align: center;
        }

    .table-moves {
        border: 1px solid black !important;
        border-bottom: 0px !important;
        border-right: 0px !important;
    }

        .table-moves th, .table-moves td {
            border: 1px solid black !important;
            text-align: center;
        }

        .table-moves td {
            font-weight: bold;
        }

            .table-moves td:nth-child(2) {
                text-align: right !important;
            }

        .table-moves tfoot td {
            border: none !important;
            text-align: right !important;
        }

    .ui-select-bootstrap .ui-select-toggle > .caret {
        right: initial;
        left: 10px; /* or any other value - it should be the same as the original right value */
    }


    .ui-select-bootstrap > .ui-select-match > .btn {
        text-align: right !important;
        direction: rtl;
    }


        .ui-select-bootstrap > .ui-select-match > .btn > span.pull-left {
            float: right !important;
        }

    fieldset {
        background: #FCFCFC;
        padding: 16px;
        border: 1px solid #D5D5D5;
    }

    .addfields {
        margin: 10px 0;
    }

    #choicesDisplay {
        margin-top: 10px;
        padding: 10px;
        background: rgb(227, 250, 227);
        border: 1px solid rgb(171, 239, 171);
        color: rgb(9, 56, 9);
    }

    .remove {
        background: #C76868;
        color: #FFF;
        font-weight: bold;
        font-size: 21px;
        border: 0;
        cursor: pointer;
        display: inline-block;
        padding: 4px 9px;
        vertical-align: top;
        line-height: 100%;
    }

    header h1 {
        font: bold 100% sans-serif;
        text-align: center;
        text-transform: uppercase;
    }

    *[contenteditable] {
        border-radius: 0.25em;
        min-width: 1em;
        outline: 0;
    }

    *[contenteditable] {
        cursor: pointer;
    }

        *[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover {
            background: #DEF;
            box-shadow: 0 0 1em 0.5em #DEF;
        }

    span[contenteditable] {
        display: inline-block;
    }

    article, article address, table.meta, table.inventory {
        margin: 0 0 3em;
    }

        article:after {
            clear: both;
            content: "";
            display: table;
        }

    .tablesummery {
        font-weight: bold !important;
    }

        .tablesummery th {
            border-bottom: solid 1px black !important;
        }

        .tablesummery td {
            border-bottom: solid 1px black !important;
        }

    table.meta {
        font-size: 100%;
        font-weight: bold;
        table-layout: fixed;
        width: 100%;
    }

    table.meta {
        border-spacing: 2px;
    }

        table.meta th, table.meta td {
            border-width: 1px;
            padding: 0.5em;
            position: relative;
            text-align: right;
        }

        table.meta th, table.meta td {
            border-radius: 0.25em;
            border-style: solid;
        }

        table.meta th {
            background: #EEE;
            border-color: #BBB;
        }

        table.meta td {
            border-color: #DDD;
        }
    /* table meta & balance */

    table.meta, table.balance {
        float: right;
        width: 36%;
    }

        table.meta:after, table.balance:after {
            clear: both;
            content: "";
            display: table;
        }
    /* table meta */

    table.meta {
        margin-bottom: 1em;
    }

        table.meta th {
            width: 40%;
        }

        table.meta td {
            width: 60%;
        }

    .invoice-body {
        box-sizing: border-box;
        min-height: 10in;
        margin: auto;
        overflow: hidden;
        max-width: 8.5in;
        -webkit-print-color-adjust: exact !important;
        position: relative
    }

    .invoice-body {
        background: #FFF;
        border-radius: 1px;
        box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
        -webkit-print-color-adjust: exact !important;
    }

    /* header */

    header {
        margin: 0 0 3em;
    }

        header:after {
            clear: both;
            content: "";
            display: table;
        }

        header h1 {
            background: #000;
            border-radius: 0.25em;
            color: #FFF;
            margin: 0 0 1em;
            padding: 0.5em 0;
        }

        header address {
            float: right;
            font-size: medium;
            font-style: normal;
            line-height: 1.25;
            margin: 0 1em 1em 0;
        }

            header address p {
                margin: 0 0 0.25em;
            }

        header span, header img {
            display: block;
            float: left;
        }

        header span {
            margin: 0 0 1em 1em;
            max-height: 25%;
            max-width: 60%;
            position: relative;
        }

        header img {
            max-height: 100%;
            max-width: 100%;
        }

        header input {
            cursor: pointer;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

    /* article */

    article, article address, article table.meta, table.inventory {
        margin: 0 0 3em;
    }

        article:after {
            clear: both;
            content: "";
            display: table;
        }

        article h1 {
            clip: rect(0 0 0 0);
            position: absolute;
        }

        article address {
            float: right;
            font-size: 125%;
            font-weight: bold;
        }

    /* table meta & balance */

    table.meta, table.balance {
        float: right;
        width: 100%;
    }

        table.meta:after, table.balance:after {
            clear: both;
            content: "";
            display: table;
        }

    /* table meta */

    table.meta {
        margin-bottom: 1em;
    }

        table.meta th {
            width: 40%;
        }

        table.meta td {
            width: 60%;
        }

    /* table items */
    .inventory {
        font-size: 100%;
        font-weight: bold;
        table-layout: fixed;
        width: 100%;
    }

    .inventory {
        border-spacing: 2px;
    }

        .inventory th, .inventory td {
            border-width: 1px;
            padding: 0.5em;
            position: relative;
            text-align: right;
        }

        .inventory th, .inventory td {
            border-radius: 0.25em;
            border-style: solid;
        }

        .inventory th {
            background: #EEE;
            border-color: #BBB;
        }

        .inventory td {
            border-color: #DDD;
        }

    table.inventory {
        clear: both;
        width: 100%;
    }

        table.inventory th {
            font-weight: bold !important;
            text-align: center !important;
        }

        table.inventory td:nth-child(1) {
            width: 26% !important;
        }

        table.inventory td:nth-child(2) {
            width: 38% !important;
        }

        table.inventory td:nth-child(3) {
            text-align: left;
            width: 12%;
        }

        table.inventory td:nth-child(4) {
            text-align: left;
            width: 12%;
        }

        table.inventory td:nth-child(5) {
            text-align: left;
            width: 12%;
        }

    /* table balance */

    table.balance th, table.balance td {
        width: 50%;
        font-weight: bold
    }

    table.balance td {
        text-align: left;
        font-weight: bold
    }

    .add, .cut {
        border-width: 1px;
        display: block;
        font-size: .8rem;
        padding: 0.25em 0.5em;
        float: right;
        text-align: center;
        width: 1.6em;
    }

    .editable-input.editable-has-buttons {
        width: 100px !important;
    }

    .add, .cut {
        background: #9AF;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        background-image: -moz-linear-gradient(#00ADEE 5%, #0078A5 100%);
        background-image: -webkit-linear-gradient(#00ADEE 5%, #0078A5 100%);
        border-radius: 0.5em;
        border-color: #0076A3;
        color: #FFF;
        cursor: pointer;
        font-weight: bold;
        text-shadow: 0 -1px 2px rgba(0,0,0,0.333);
    }

    .add {
        margin: -2.5em 0 0;
    }

        .add:hover {
            background: #00ADEE;
        }

    .cut {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    .cut {
        -webkit-transition: opacity 100ms ease-in;
    }

    .cut {
        float: left;
        left: 0em;
    }

    tr:hover .cut {
        opacity: 1;
    }

/*start table-summery*/
    table.table-summery {
        border:none !important;
        width: 100% !important;
        border-collapse: separate !important;
        background: beige !important;
    }

    table-summery th, table-summery td {
        padding: .2em !important;
    }

    /* end of bases */

    table.table-summery {
        font-family: Helvetica, Arial, sans-serif !important;
        border: 1px solid #499403 !important;
    }

    .table-summery tbody, .table-summery tr, .table-summery td, .table-summery th, .table-summery td:first-line {
        background-color: inherit !important;
    }

    .table-summery caption {
        margin-bottom: 25px !important;
        font-variant: small-caps !important;
        letter-spacing: .03em !important;
        word-spacing: .05em !important;
        color: #499403 !important;
    }

    .table-summery th {
        border: none !important;
        float: right !important;
        text-align: right !important;
    }

    .table-summery td {
        border: none !important;
        display: block !important;
        text-align: left !important;
        background-clip: content-box !important;
        background-image: -webkit-radial-gradient(circle, #888, #888 1px, rgba(0,0,0,0) 1px, rgba(0,0,0,0)) !important;
        background-image: radial-gradient(circle, #888, #888 1px, rgba(0,0,0,0) 1px, rgba(0,0,0,0)) !important;
        background-repeat: repeat-x !important;
        background-position: left 60% !important;
        background-size: 5px 1px !important;
        font-family: "Consolas", "Courier New", Courier, monospace !important;
    }

        .table-summery td:before {
            content: " ";
            display: inline-block !important;
            width: 4px !important;
        }

    /*end of table-summery*/

    @media print {

        .orderCancel-xs {
            font-size: 200px;
            position: absolute;
            text-align: center;
            top: 25%;
            left: 25%;
            z-index: 2000;
            opacity: .4;
            transform: rotate(-30deg);
        }

        .col-sm-12 {
            width: 100%;
        }

        .col-sm-11 {
            width: 91.66666666666666%;
        }

        .col-sm-10 {
            width: 83.33333333333334%;
        }

        .col-sm-9 {
            width: 75%;
        }

        .col-sm-8 {
            width: 66.66666666666666%;
        }

        .col-sm-7 {
            width: 58.333333333333336%;
        }

        .col-sm-6 {
            width: 50%;
        }

        .col-sm-5 {
            width: 41.66666666666667%;
        }

        .col-sm-4 {
            width: 33.33333333333333%;
            float: left !important;
        }

        .col-sm-3 {
            width: 25%;
        }

        .col-sm-2 {
            width: 16.666666666666664%;
        }

        .hide-col {
            display: none !important;
        }

        .col-sm-1 {
            width: 8.333333333333332%;
        }

        .add-border {
            border-top: 1px solid black;
        }

        .bg-dark, .bg-hover-dark:hover {
            background: white !important;
            border: 2px solid black;
        }

        html {
            background: none;
            padding: 0 !important;
            margin: 0 !important;
        }

        body {
            box-shadow: none !important;
            margin: 0 !important;
            padding: 0 !important;
            -webkit-print-color-adjust: exact !important;
        }

        .orderCancel {
            font-size: 200px;
            position: absolute;
            text-align: center;
            top: 25%;
            left: 25%;
            z-index: 2000;
            opacity: .4;
            transform: rotate(-30deg);
        }

        span:empty {
            display: none;
        }

        table.items th {
            border: 1px solid !important;
        }

        table.items td {
            border: 1px solid !important;
        }

        body, html {
            margin-top: 0px !important;
            padding-top: 0px !important;
        }

        input[type="checkbox"] {
            visibility: hidden;
        }

        .borderRight {
            border-right: 1px solid black !important;
        }

        .borderLeft {
            border-left: 1px solid black !important;
        }

        input[type="checkbox"][checked] {
            visibility: visible;
        }

        @page {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        @page {
            margin: 1px;
            margin-bottom: 1px;
        }

        th {
            border-color: #000 !important;
            border-right: 0px !important;
            border-left: 0px !important;
        }

        td {
            border-color: #000 !important;
            border-right: 0px !important;
            border-left: 0px !important;
        }

        #footercompany {
            page-break-inside: avoid;
            page-break-after: auto;
        }

        .page-break {
            display: block !important;
            page-break-before: always !important;
        }

        table {
            page-break-after: auto !important;
        }

        tr {
            page-break-inside: avoid !important;
            page-break-after: auto !important;
        }

        td {
            page-break-inside: avoid !important;
            page-break-after: auto !important;
        }

        thead {
            display: table-header-group !important;
        }

        tfoot {
            display: table-footer-group !important;
        }
    }

    @-webkit-keyframes glowing {
        0% {
            background-color: #B20000;
            -webkit-box-shadow: 0 0 3px #B20000;
        }

        50% {
            background-color: #FF0000;
            -webkit-box-shadow: 0 0 40px #FF0000;
        }

        100% {
            background-color: #B20000;
            -webkit-box-shadow: 0 0 3px #B20000;
        }
    }

    @-moz-keyframes glowing {
        0% {
            background-color: #B20000;
            -moz-box-shadow: 0 0 3px #B20000;
        }

        50% {
            background-color: #FF0000;
            -moz-box-shadow: 0 0 40px #FF0000;
        }

        100% {
            background-color: #B20000;
            -moz-box-shadow: 0 0 3px #B20000;
        }
    }

    @-o-keyframes glowing {
        0% {
            background-color: #B20000;
            box-shadow: 0 0 3px #B20000;
        }

        50% {
            background-color: #FF0000;
            box-shadow: 0 0 40px #FF0000;
        }

        100% {
            background-color: #B20000;
            box-shadow: 0 0 3px #B20000;
        }
    }

    @keyframes glowing {
        0% {
            background-color: #B20000;
            box-shadow: 0 0 3px #B20000;
        }

        50% {
            background-color: #FF0000;
            box-shadow: 0 0 40px #FF0000;
        }

        100% {
            background-color: #B20000;
            box-shadow: 0 0 3px #B20000;
        }
    }

    .warning-info {
        -webkit-animation: glowing 1500ms infinite;
        -moz-animation: glowing 1500ms infinite;
        -o-animation: glowing 1500ms infinite;
        animation: glowing 1500ms infinite;
    }
</style>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">الرئيسية</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">مخازن</a>
            <i class="fa fa-circle"></i>

        </li>
        <li>
            <a href="#">اصناف</a>
        </li>
    </ul>

</div>
<div class="row">
    <div class="col-lg-12">
        <div class="portlet box blue">
            <div class="portlet-title hidden-print">
                <div class="caption hidden-print">
                    <i class="fa fa-gift"></i>
                    بضائع وفئات ومخازن -
                    <span style="color:wheat !important">
                        {{ branchGroub.fullName}}
                    </span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="row">
                    <div>
                        <div class="col-lg-12">
                            <div class="caption visible-print" style="width:100%;text-align:center">
                                <table style="float:right">
                                    <tr>
                                        <th>
                                            الشركة :
                                        </th>
                                        <td>
                                            {{branchGroub.fullName}}
                                        </td>
                                    </tr>
                                </table>
                                <table style="float:left">
                                    <tr>
                                        <th>
                                            عدد الصفوف :
                                        </th>
                                        <td>
                                            {{totalItems}}
                                        </td>
                                    </tr>
                                </table>
                                <br />
                                <hr />


                                <a href="#">
                                  <strong> تقرير الاصناف</strong>
                                </a>
                                
                            </div>

                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <ul class="nav nav-tabs hidden-print">
                                <li class="active"><a data-toggle="pill" data-target="#items">الاصناف</a></li>
                                <li><a data-toggle="pill" data-target="#itemGroup">الفئات</a></li>
                                <li><a data-toggle="pill" data-target="#inventory">المخازن</a></li>


                            </ul>

                            <div class="tab-content">
                                <br /><br />
                                <div id="items" class="tab-pane fade in active">

                                    <div class="row">
                                        <div class="col-md-3 hidden-print">

                                            <label for="serch">بحث: </label>

                                            <div id="serch" class="input-group">

                                                <input type="search" class="form-control" ng-keydown="$event.keyCode === 13 && getItemInfo()" ng-model="iteminfo.search" placeholder="بحث..." aria-describedby="sizing-addon1">
                                                <a class="input-group-addon" id="sizing-addon1"
                                                   data-toggle="tooltip"
                                                   data-html="true"
                                                   title="بحث" ng-click="getItemInfo()">
                                                    <i class="fa fa-search fa-fw" style="color:#d9534f !important;" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-md-3 hidden-print">
                                            <label for="inventorynamedrop">المخزن: </label>
                                            <select id="inventorynamedrop" class="form-control" data-role="listview" data-inset="true"
                                                    ng-options="inventory.inventoryId as inventory.inventoryName for inventory in inventories"
                                                    ng-model="iteminfo.inventoryId" ng-change="getItemInfo()" data-live-search="true">
                                                <option value="" selected>جميع المخازن</option>
                                            </select>
                                        </div>


                                        <div class="col-md-3 hidden-print">
                                            <label for="groupnamedrop">الفئة: </label>
                                            <select id="groupnamedrop" class="form-control" data-role="listview" data-inset="true"
                                                    ng-options="itemGroup.groupId as itemGroup.groupName for itemGroup in itemGroups"
                                                    ng-model="iteminfo.groupId" ng-change="getItemInfo()" data-live-search="true">

                                                <option  value="" selected>جميع الفئات</option>
                                            </select>
                                        </div>
                                      
                                    </div>
                                    <div class="row table-scrollable">
                                        <ul class="hidden-print" ng-hide="!items.length || totalItems.length > 1" uib-pagination total-items="totalItems" num-pages="totalPages" items-per-page="iteminfo.pageSize" first-text="الاول" next-text="التالي" previous-text="السابق" last-text="الاخير" ng-model="iteminfo.pageNumber" ng-change="getItemInfo()"></ul>
                                        <span style="float: left; padding-top: 20px;padding-left: 9px;">الصفحة <strong>{{iteminfo.pageNumber}} / {{totalPages}}</strong></span>

                                        <div class="btn-group hidden-print" role="group" style="vertical-align: inherit !important;margin: 10px 0 !important">
                                            <a class="btn blue hidden-print" onclick="javascript:window.print();">
                                                طباعة
                                                <i class="fa fa-print"></i>
                                            </a>


                                        </div>
                                        <table id="loading-bar-container" class="table table-striped table-bordered table-hover table-moves">

                                            <thead>
                                                <tr style="background-color:#ccc">
                                                    <th class="hidden-xs"> #</th>
                                                    <th class="hidden-xs">
                                                        <a ng-click="iteminfo.orderby = 'itemCode'; iteminfo.orderType = !iteminfo.orderType;getItemInfo()">
                                                            الكود
                                                            <span ng-show="iteminfo.orderby == 'itemCode' && !iteminfo.orderType" class="hidden-print fa fa-caret-down"></span>
                                                            <span ng-show="iteminfo.orderby == 'itemCode' && iteminfo.orderType" class="hidden-print fa fa-caret-up"></span>
                                                        </a>

                                                    </th>
                                                    <th>
                                                        <a ng-click="iteminfo.orderby = 'itemName'; iteminfo.orderType = !iteminfo.orderType;getItemInfo()">
                                                            الصنف
                                                            <span ng-show="iteminfo.orderby == 'itemName' && !iteminfo.orderType" class="hidden-print fa fa-caret-down"></span>
                                                            <span ng-show="iteminfo.orderby == 'itemName' && iteminfo.orderType" class="hidden-print fa fa-caret-up"></span>
                                                        </a>

                                                    </th>

                                                    <th class="hidden-xs">
                                                        <a ng-click="iteminfo.orderby = 'groupName'; iteminfo.orderType = !iteminfo.orderType;getItemInfo()">
                                                            الفئة
                                                            <span ng-show="iteminfo.orderby == 'groupName' && !iteminfo.orderType" class="hidden-print fa fa-caret-down"></span>
                                                            <span ng-show="iteminfo.orderby == 'groupName' && iteminfo.orderType" class="hidden-print fa fa-caret-up"></span>
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a ng-click="iteminfo.orderby = 'qty'; iteminfo.orderType = !iteminfo.orderType;getItemInfo()">
                                                            الكمية
                                                            <span ng-show="iteminfo.orderby == 'qty' && !iteminfo.orderType" class="hidden-print fa fa-caret-down"></span>
                                                            <span ng-show="iteminfo.orderby == 'qty' && iteminfo.orderType" class="hidden-print fa fa-caret-up"></span>
                                                        </a>
                                                    </th>
                                                    <th class="hidden-xs">
                                                        <a ng-click="iteminfo.orderby = 'unitName'; iteminfo.orderType = !iteminfo.orderType;getItemInfo()">
                                                             الوحدة
                                                            <span ng-show="iteminfo.orderby == 'unitName' && !iteminfo.orderType" class="hidden-print fa fa-caret-down"></span>
                                                            <span ng-show="iteminfo.orderby == 'unitName' && iteminfo.orderType" class="hidden-print fa fa-caret-up"></span>
                                                        </a>

                                                    </th>
                                                    <th>
                                                        <a ng-click="iteminfo.orderby = 'unitPrice'; iteminfo.orderType = !iteminfo.orderType;getItemInfo()">
                                                            سعر الوحدة
                                                            <span ng-show="iteminfo.orderby == 'unitPrice' && !iteminfo.orderType" class="hidden-print fa fa-caret-down"></span>
                                                            <span ng-show="iteminfo.orderby == 'unitPrice' && iteminfo.orderType" class="hidden-print fa fa-caret-up"></span>
                                                        </a>

                                                    </th>
                                                    <th class="hidden-print">
                                                        --
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat-start="item in items track by $index">

                                                    <td class="hidden-xs"> {{$index + 1}}</td>
                                                    <td class="hidden-xs"> <span> {{item.itemCode}}</span> </td>
                                                    <td>
                                                    <span class="hidden-xs">{{item.itemName}}</span>
                                                        <span class="visible-xs">
                                                        {{item.itemName}}
                                                        <br />
                                                            {{item.itemCode}}
                                                        </span>
                                                    </td>
                                                    <td class="hidden-xs">{{item.groupName}}</td>
                                                    <td>{{item.qty}}</td>
                                                    <td class="hidden-xs">{{item.unitName }}</td>
                                                    <td>{{item.unitPrice }}</td>
                                                    <td class="hidden-print">
                                                        <a class="btn btn-sm btn-info" title="عرض المخازن" data-toggle="collapse" data-target="#collapseitem{{$index}}" aria-expanded="false" aria-controls="collapseitem{{$index}}">
                                                            <i class="fa fa-expand fa-fw" aria-hidden="true"></i>
                                                        </a>
                                                    </td>

                                                </tr>
                                                <tr ng-repeat-end="" class="collapse" id="collapseitem{{$index}}">
                                                    <td colspan="8">
                                                        <table class="table table-striped table-bordered table-hover table-moves">
                                                            <thead>
                                                                <tr style="background-color:dodgerblue">
                                                                    <th> #</th>
                                                                    <th> المخزن </th>
                                                                    <th> الكمية </th>
                                                                    <th> السعر</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="i in item.inventory | orderBy: 'qty':true">
                                                                    <td> {{$index + 1}}</td>
                                                                    <td> {{i.inventoryName}}</td>
                                                                    <td> {{i.qty}} </td>
                                                                    <td> {{i.price}} </td>

                                                                </tr>
                                                                <tr>
                                                                    <td colspan="4">
                                                                        <table class="table table-striped table-bordered table-hover table-summery">

                                                                            <tbody>
                                                                                <tr ng-show="item.reorderPoint > 0">
                                                                                    <th> نقطة اعادة الطلب</th>
                                                                                    <td style="text-align: left !important"> {{item.reorderPoint}} وحدة</td>
                                                                                </tr>
                                                                                <tr ng-show="item.expireinDayes > 0">
                                                                                    <th> مدة الصلاحية</th>
                                                                                    <td style="text-align: left !important">{{item.expireinDayes}} يوم </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>متوسط التكلفة</th>
                                                                                    <td style="text-align: left !important">{{item.costPrice}} جـ </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>معدل الدوارن</th>
                                                                                    <td style="text-align: left !important"> {{item.turnOverRate}} مرة </td>
                                                                                </tr>
                                                                                <tr title="متوسط فترة التخزين">
                                                                                    <th>فترة التخزين</th>
                                                                                    <td style="text-align: left !important"> {{item.avgStock}} يوم </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <!--<td class="hidden-xs">
                                                        <table class="table table-striped table-bordered table-hover table-summery">
                                                           
                                                            <tbody>
                                                                <tr ng-show="item.reorderPoint > 0">
                                                                    <th> نقطة اعادة الطلب</th>
                                                                    <td style="text-align: left !important"> {{item.reorderPoint}} وحدة</td>
                                                                </tr>
                                                                <tr ng-show="item.expireinDayes > 0">
                                                                    <th> مدة الصلاحية</th>
                                                                    <td style="text-align: left !important">{{item.expireinDayes}} يوم </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>متوسط التكلفة</th>
                                                                    <td style="text-align: left !important">{{item.costPrice}} جـ </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>معدل الدوارن</th>
                                                                    <td style="text-align: left !important"> {{item.turnOverRate}} مرة </td>
                                                                </tr>
                                                                <tr title="متوسط فترة التخزين">
                                                                    <th>فترة التخزين</th>
                                                                    <td style="text-align: left !important"> {{item.avgStock}} يوم </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                       
                                                    </td>-->
                                                </tr>
                                            </tbody>
                                        </table>
                                        <ul class="hidden-print" ng-hide="!items.length || totalItems.length > 1" uib-pagination total-items="totalItems" items-per-page="iteminfo.pageSize" first-text="الاول" next-text="التالي" previous-text="السابق" last-text="الاخير" ng-model="iteminfo.pageNumber" ng-change="getItemInfo()"></ul>

                                    </div>
                                </div>
                                <div id="itemGroup" class="tab-pane fade">
                                    <div class="row">
                                      
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="row">
                                                <div class="col-md-3 hidden-print">
                                                    <div class="form-group">
                                                        <label for="selecti">
                                                            اسم الفئة
                                                        </label>
                                                        <div>
                                                            <div ng-if="selectedGroup.selected.isToEdit" class="input-group margin-bottom-sm">

                                                                <a class="input-group-addon"
                                                                   data-toggle="tooltip"
                                                                   data-html="true"
                                                                   title="Close" 
                                                                   ng-click="dismissGroup()">
                                                                    <i class="fa fa-close fa-fw" style="color:#d9534f !important;" aria-hidden="true"></i>
                                                                </a>

                                                                <input class="form-control" ng-change="checkGroupName(selectedGroup.selected.groupName)" type="text" ng-model="selectedGroup.selected.groupName">
                                                                <a ng-show="showGroupWarning" class="input-group-addon warning-info"
                                                                   data-toggle="tooltip"
                                                                   data-html="true"
                                                                   title="تحذير  : يوجد فئة مسجلة بنفس الاسم">
                                                                    <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
                                                                </a>
                                                            </div>
                                                            <div ng-if="selectedGroup.selected.isNew" class="input-group margin-bottom-sm">
                                                                <a class="input-group-addon"
                                                                   data-toggle="tooltip"
                                                                   data-html="true"
                                                                   title="Close" ng-click="dismissGroup()">
                                                                    <i class="fa fa-close fa-fw" style="color:#d9534f !important;" aria-hidden="true"></i>
                                                                </a>
                                                                <input class="form-control" readonly type="text" ng-model="selectedGroup.selected.groupName">
                                                            </div>
                                                            <ui-select style="width:100%!important;" ng-show="!selectedGroup.selected.isNew && !selectedGroup.selected.isToEdit" id="selecti" autofocus ng-model="selectedGroup.selected" on-select="getgroupInfo($item)" theme="bootstrap">
                                                                <ui-select-match>

                                                                    <div id="binditem">
                                                                        <a style="text-align:center;font-weight :bold;text-decoration: none;"
                                                                           data-toggle="tooltip"
                                                                           data-html="true"
                                                                           title="اضفط هنا لتعديل اسم الفئة"
                                                                           ng-click="editGroup()">

                                                                            <i class="fa fa-edit fa-fw" aria-hidden="true"></i>
                                                                        </a>
                                                                        {{$select.selected.groupName}}
                                                                    </div>
                                                                </ui-select-match>
                                                                <ui-select-choices style="padding: 7px !important;" repeat="itemGroup in (itemGroups | filter: $select.search) track by itemGroup.groupId">
                                                                    <div ng-bind-html="itemGroup.groupName | highlight: $select.search"></div>

                                                                </ui-select-choices>
                                                                <ui-select-no-choice>
                                                                    <a style="text-align:center; background-color:#428bca;color:#f9f9f9;font-weight: bold;"
                                                                       mwl-confirm
                                                                       title="{{ 'تاكيد' }}"
                                                                       message="{{ 'هل تريد اضافة فئة جديدة'}}"
                                                                       confirm-text="{{ 'Ok' }}"
                                                                       cancel-text="{{ 'Cancel' }}"
                                                                       placement="{{ 'top' }}"
                                                                       on-confirm="addGroup($select.search)"
                                                                       on-cancel=""
                                                                       confirm-button-type="danger"
                                                                       cancel-button-type="default">
                                                                        <i class="fa fa-plus" style="color:#f9f9f9 !important;"></i>اضافة فئة
                                                                    </a>
                                                                </ui-select-no-choice>
                                                            </ui-select>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="col-md-3" ng-class="selectedGroup.selected.unit.isNew || selectedGroup.selected.unit.isToEdit ? 'col-md-5' : 'col-md-3'">
                                                   

                                                    <div class="form-group">
                                                        <label for="selectiUnit">
                                                            الوحدة
                                                        </label>
                                                        <div>
                                                            <div ng-if="selectedGroup.selected.unit.isToEdit" class="form-inline">
                                                                <div class="form-group">
                                                                    <div class="input-group margin-bottom-sm">

                                                                        <a class="input-group-addon"
                                                                           data-toggle="tooltip"
                                                                           data-html="true"
                                                                           title="Close" ng-click="dismissGroup()">
                                                                            <i class="fa fa-close fa-fw" style="color:#d9534f !important;" aria-hidden="true"></i>
                                                                        </a>
                                                                        <a ng-show="showUnitWarning" class="input-group-addon warning-info"
                                                                           data-toggle="tooltip"
                                                                           data-html="true"
                                                                           title="تحذير : يوجد وحدة مسجلة بنفس الاسم">
                                                                            <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
                                                                        </a>
                                                                        <input class="form-control" ng-change="checkUnitName(selectedGroup.selected.unit.unitName)" type="text" ng-model="selectedGroup.selected.unit.unitName">


                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <select id="types" class="form-control" ng-options="type.typeId as type.typeName for type in unitTypes" ng-model="selectedGroup.selected.unit.type.typeId"></select>

                                                                </div>

                                                            </div>
                                                          
                                                            <div ng-if="selectedGroup.selected.unit.isNew" class="form-inline">
                                                                <div class="form-group">
                                                                    <div class="input-group margin-bottom-sm">
                                                                        <a class="input-group-addon"
                                                                           data-toggle="tooltip"
                                                                           data-html="true"
                                                                           title="Close" ng-click="dismissGroup()">
                                                                            <i class="fa fa-close fa-fw" style="color:#d9534f !important;" aria-hidden="true"></i>
                                                                        </a>
                                                                        <input class="form-control" readonly type="text" ng-model="selectedGroup.selected.unit.unitName">


                                                                    </div>
                                                                    <div class="form-group">
                                                                        <select id="types" class="form-control input-group-addon" ng-options="type.typeId as type.typeName for type in unitTypes" ng-model="selectedGroup.selected.unit.type.typeId"></select>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                           
                                                            <ui-select style="width:100%!important;" ng-show="!selectedGroup.selected.unit.isNew && !selectedGroup.selected.unit.isToEdit" id="selectiUnit" autofocus ng-model="selectedGroup.selected.unit" on-select="getUnitnfo($item)" theme="bootstrap">
                                                                <ui-select-match>

                                                                    <div id="binditem">
                                                                        <a style="text-align:center;font-weight :bold;text-decoration: none;"
                                                                           data-toggle="tooltip"
                                                                           data-html="true"
                                                                           title="اضغط هنا لتعديل الوحدة"
                                                                           ng-click="editUnit()">

                                                                            <i class="fa fa-edit fa-fw" aria-hidden="true"></i>
                                                                        </a>
                                                                        {{$select.selected.unitName}}
                                                                    </div>
                                                                </ui-select-match>
                                                                <ui-select-choices style="padding: 7px !important;" repeat="unit in (units | filter: $select.search) track by unit.unitId">
                                                                    <div ng-bind-html="unit.unitName | highlight: $select.search"></div>

                                                                </ui-select-choices>
                                                                <ui-select-no-choice>
                                                                    <a style="text-align:center; background-color:#428bca;color:#f9f9f9;font-weight: bold;"
                                                                       mwl-confirm
                                                                       title="{{ 'تاكيد' }}"
                                                                       message="{{ 'هل تريد اضافة وحدة جديدة'}}"
                                                                       confirm-text="{{ 'Ok' }}"
                                                                       cancel-text="{{ 'Cancel' }}"
                                                                       placement="{{ 'top' }}"
                                                                       on-confirm="addUnit($select.search)"
                                                                       on-cancel=""
                                                                       confirm-button-type="danger"
                                                                       cancel-button-type="default">
                                                                        <i class="fa fa-plus" style="color:#f9f9f9 !important;"></i>اضافة وحدة
                                                                    </a>
                                                                </ui-select-no-choice>
                                                            </ui-select>
                                                        </div>

                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-2">
                                                    <div class="btn-group hidden-print" role="group" style="vertical-align: inherit !important;margin-top:23px!important">
                                                        <a class="btn blue hidden-print" data-toggle="collapse" data-target="#collapseitems" aria-expanded="false" aria-controls="collapseitems">
                                                           الاصناف
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                      
                                                    </div>
                                                </div>

                                            </div>
                                           <!-- Items -->
                                            <div class="row collapse" id="collapseitems">
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="table-responsive">
                                                        <table id="tableinputitems" class="table table-responsive table-hover table-bordered table-condensed">
                                                            <thead>
                                                                <tr style="border:2px solid;background-color:cornflowerblue">
                                                                    <th class="text-center">
                                                                        الصنف
                                                                    </th>
                                                                    <th class="text-center">
                                                                        الكود
                                                                    </th>
                                                                    <th class="text-center">
                                                                        سعر البيع
                                                                    </th>
                                                                    <th class="text-center">
                                                                       حد الطلب
                                                                    </th>
                                                                    <th class="text-center">
                                                                    <a class="font-white glyphicon glyphicon-refresh" data-toggle="tooltip" ng-click="refreshItemGroup()" data-placement="top" title="تحديث"></a>
                                                                    </th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="text-center">
                                                                        <input id="edititemid"  ng-model="edititem.itemName" required class="form-control" />
                                                                    </td>
                                                                    <td>
                                                                        <input ng-model="edititem.itemCode" class="form-control" type="text"/>

                                                                    </td>
                                                                    <td>
                                                                        <input ng-model="edititem.itemPrice" class="form-control" type="number" min="0" />

                                                                    </td>
                                                                    <td>
                                                                        <input ng-model="edititem.reorderPoint" class="form-control" type="number" min="0" />

                                                                    </td>
                                                                    <td>
                                                                        <div class="actions">
                                                                            <div>
                                                                                <a id="saveiteminputs" href="javascript:;" ng-click="saveItem()" data-toggle="tooltip" data-placement="top" title="{{'حفظ'}}" class="btn btn-sm font-grey">
                                                                                    <i class="font-blue glyphicon glyphicon-save"></i>
                                                                                </a>
                                                                                <a id="saveiteminputs" href="javascript:;" ng-click="itemsInputTosave()" data-toggle="tooltip" data-placement="top" title="{{'عرض الخصائص'}}" class="btn btn-sm font-grey">
                                                                                    <i class="font-green-dark fa fa-expand"></i>
                                                                                </a>
                                                                                <a id="restiteminputs" data-toggle="tooltip" data-placement="top" title="{{'الغاء'}}" class="btn btn-sm font-grey">
                                                                                    <i class="font-dark glyphicon glyphicon-trash"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>


                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="5">
                                                                        <div class="table-responsive">
                                                                            <table class="table table-responsive table-hover table-bordered">
                                                                                <thead>

                                                                                    <tr>
                                                                                        <td  class="text-center" style="padding:0!important" ng-repeat="property in edititem.properties track by $index">
                                                                                           
                                                                                            <table class="table table-responsive">
                                                                                                <caption style="max-height: 32px !important;text-align:center;font-weight:bold;color:black;background-color:cornflowerblue;border: 1px solid;">{{property.propertyName}}</caption>
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <input ng-model="property.propertyValues.propertyValueName" class="form-control" ng-if="property.type.typeName == 'نص' || property.type.typeName == 'باركود'"/>

                                                                                                        <input ng-model="property.propertyValues.propertyValueName" class="form-control" ng-if="property.type.typeName == 'عدد عشري'" type="number" min="0" />
                                                                                                        <input ng-model="property.propertyValues.propertyValueName" class="form-control" ng-if="property.type.typeName == 'عدد صحيح' || property.type.typeName == 'مدة صلاحية'" type="number" min="0" />
                                                                                                        <input ng-if="property.type.typeName == 'لون'" colorpicker type="text" class="form-control" ng-model="property.propertyValues.propertyValueName" />
                                                                                                        
                                                                                                      
                                                                                                    
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                        
                                                                                    </tr>
                                                                                    
                                                                                </thead>
                                                                               
                                                                            </table>
                                                                        </div>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12">

                                                    <div class="table-responsive">
                                                        <table class="table table-responsive table-hover table-bordered">
                                                            <thead>

                                                                <tr style="border:2px solid;background-color:#ccc">
                                                                    <th class="text-center">
                                                                        الصنف
                                                                    </th>
                                                                    <th class="text-center">
                                                                        الكود
                                                                    </th>
                                                                    <th class="text-center">
                                                                        سعر البيع
                                                                    </th>
                                                                    <th class="text-center">
                                                                        حد الطلب
                                                                    </th>
                                                                    <th>--</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="(keyrow ,item) in groupItems | filter : edititem.itemName track by $index">
                                                                    <td class="text-center">
                                                                        <span e-form="rowform" editable-text="item.itemName">{{item.itemName}}</span>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <svg id="barcode{{$index}}">{{getbarCode(item.itemCode , $index)}}</svg>

                                                                    </td>
                                                                    <td class="text-center">
                                                                        <span>{{item.itemPrice}}</span>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <span>{{item.reorderPoint}}</span>
                                                                    </td>
                                                        
                                                                    <td>
                                                                        <div class="actions">
                                                                            <a ng-click="addItemToedit(item)" data-toggle="tooltip" data-placement="top" title="{{'تعديل'}}" class="btn btn-sm font-grey">
                                                                                <i class="font-green-seagreen glyphicon glyphicon-pencil"></i>
                                                                            </a>

                                                                            <a ng-click="delepropertyValues(row)" data-toggle="tooltip" data-placement="top" title="{{'حذف'}}" class="btn btn-sm font-grey">
                                                                                <i class="font-dark glyphicon glyphicon-trash"></i>
                                                                            </a>

                                                                        </div>


                                                                    </td>
                                                                </tr>
                                                             
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 hidden-print">
                                                    <div class="btn-group hidden-print" role="group" style="vertical-align: inherit !important;margin-top:23px!important">
                                                        <a class="btn blue hidden-print"
                                                           mwl-confirm
                                                           title="{{ 'تاكيد' }}"
                                                           message="{{ 'هل تريد اضافة خاصية ؟'}}"
                                                           confirm-text="{{ 'موافق' }}"
                                                           cancel-text="{{ 'اغلاق' }}"
                                                           placement="{{ 'top' }}"
                                                           on-confirm="addGroupProperty()"
                                                           on-cancel=""
                                                           confirm-button-type="danger"
                                                           cancel-button-type="default">
                                                            اضافة خاصية
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                        <a class="btn green"
                                                           mwl-confirm
                                                           title="{{ 'تاكيد' }}"
                                                           message="{{ 'هل تريد الحفظ ؟'}}"
                                                           confirm-text="{{ 'موافق' }}"
                                                           cancel-text="{{ 'اغلاق' }}"
                                                           placement="{{ 'top' }}"
                                                           on-confirm="save()"
                                                           on-cancel=""
                                                           confirm-button-type="danger"
                                                           cancel-button-type="default">
                                                            حفظ
                                                            <i class="fa fa-save fa-lg"></i>
                                                        </a>
                                                        <a class="btn red hidden-print"
                                                           mwl-confirm
                                                           title="{{ 'تاكيد' }}"
                                                           message="{{ 'هل تريد الحذف ؟'}}"
                                                           confirm-text="{{ 'موافق' }}"
                                                           cancel-text="{{ 'اغلاق' }}"
                                                           placement="{{ 'top' }}"
                                                           on-confirm="delGroup()"
                                                           on-cancel=""
                                                           confirm-button-type="danger"
                                                           cancel-button-type="default">
                                                            حذف الفئة
                                                            <i class="fa fa-remove"></i>
                                                        </a>
                                                        <a class="btn blue-dark" ng-show="showCancelGroupEdit"
                                                           mwl-confirm
                                                           title="{{ 'تاكيد' }}"
                                                           message="{{ 'هل تريد التراجع عن التعديلات ؟'}}"
                                                           confirm-text="{{ 'موافق' }}"
                                                           cancel-text="{{ 'اغلاق' }}"
                                                           placement="{{ 'top' }}"
                                                           on-confirm="dismissGroup()"
                                                           on-cancel=""
                                                           confirm-button-type="danger"
                                                           cancel-button-type="default">
                                                            الغاء التعديلات
                                                            <i class="fa fa-save fa-lg"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                         <hr />
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div ng-show="selectedGroup.selected.groupName" class="row">
                                              
                                                <div ng-show="inventoriesforMulti && inventoriesforMulti.length > 0" class="col-lg-6 col-md-6 col-sm-6">
                                                    <multi-select  ng-model="selectedGroup.selected.inventoryies" available="inventoriesforMulti" selected-label="المخازن المحددة"
                                                                  available-label="المخازن المتاحة" display="u as u.inventoryName" config="selectConfig"></multi-select>


                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 animate-switch-container" ng-switch on="selectedGroup.selected">
                                                    <div class="table-scrollable" style="margin:0!important">

                                                        <table class="table table-striped table-bordered table-hover table-moves" style="max-height: 300px !important;overflow-y: scroll !important;">

                                                            <thead>
                                                                <tr style="background-color:cornflowerblue">
                                                                    <th class="text-center">  خصائص </th>
                                                                    <th class="text-center">  النوع </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody  ng-show="selectedGroup.selected.properties && selectedGroup.selected.properties.length > 0">

                                                                <tr class="text-center" ng-repeat="property in selectedGroup.selected.properties track by $index">
                                                                    <td>
                                                                       
                                                                        <div class="input-group margin-bottom-sm">
                                                                            <a class="input-group-addon"
                                                                               mwl-confirm
                                                                               title="{{ 'تاكيد' }}"
                                                                               message="{{ 'هل تريد حذف الخاصية ؟'}}"
                                                                               confirm-text="{{ 'موافق' }}"
                                                                               cancel-text="{{ 'اغلاق' }}"
                                                                               placement="{{ 'top' }}"
                                                                               on-confirm="removeGroupProperty($index)"
                                                                               on-cancel=""
                                                                               confirm-button-type="danger"
                                                                               cancel-button-type="default">
                                                                                <i class="fa fa-remove" aria-hidden="true" style="color:#d9534f !important;"></i>
                                                                            </a>
                                                                            <input type="text" class="form-control"  ng-change="editGroup()" ng-model="property.propertyName" />


                                                                        </div>

                                                                    </td>
                                                                    <td>
                                                                        <select id="types" class="form-control" ng-change="editGroup()" ng-options="type.typeId as type.typeName for type in types" ng-model="property.type.typeId"></select>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                            <tfoot ng-show="!selectedGroup.selected.properties || selectedGroup.selected.properties.length === 0" style="border: 1px solid;">
                                                                <tr>
                                                                    <td colspan="2" style="text-align:center !important">
                                                                        <strong>لا يوجد اي خصائص لهذة الفئة</strong>
                                                                    </td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>


                                                </div>
                                            </div>
                                            

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                 

                </div>
            </div>
        </div>
    </div>
</div>


 



