﻿<div class="row login">

    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <div class="login-form">
            <h3 class="form-title">تسجيل الدخول الي حسابك</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Enter any username and password. </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">اسم المستخدم</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input data-ng-model="loginData.userName" class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">كلمة المرور</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input data-ng-model="loginData.password" class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" />
                </div>
            </div>
            <div class="form-actions">
                <label class="checkbox">
                    <input type="checkbox" name="remember" value="1" /> تذكر بيانات الدخول
                </label>
                <button data-ng-click="login()" class="btn green pull-right"> دخول </button>
                <div data-ng-hide="message == ''" class="alert alert-danger">
                    {{message}}
                   <br />
                    <a ng-if="showlink" ng-click="RegenerateEmailConfirmation()" >اضغط هنا</a>
                    
                </div>
            </div>
      
            <div class="forget-password">
                <h4>نسيت كلمة المرور ؟</h4>
                <p>
                    اضغط
                    <a href="javascript:;" id="forget-password"> هنا </a> لاعادة تعيين كلمة المرور.
                </p>
            </div>
           
        </div>
       
    </div>
    <!-- END LOGIN -->
    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->

    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->
</div>

<!--<script src="../assets/pages/scripts/login.js"></script>-->