﻿<div class="row login">

    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">

        <!-- BEGIN REGISTRATION FORM -->
        <div novalidate class="register-form">
            <h3>اشتراك</h3>
            <p> ادخل بياناتك الشخصية هنا: </p>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">الاسم الاول</label>
                <div class="input-icon">
                    <i class="fa fa-font"></i>
                    <input ng-model="registration.firstName" class="form-control placeholder-no-fix" type="text" placeholder="الاسم الاول" name="firstName" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">الاسم الاخير</label>
                <div class="input-icon">
                    <i class="fa fa-font"></i>
                    <input data-ng-model="registration.lastName" class="form-control placeholder-no-fix" type="text" placeholder="الاسم الثاني" name="lastName" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">البريد الالكتروني</label>
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input data-ng-model="registration.email" class="form-control placeholder-no-fix" type="email" placeholder="البريد الالكتروني" name="email" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">الوظيفة</label>
                <div class="input-icon">
                    <i class="fa fa-check"></i>
                    <input data-ng-model="registration.occupation" class="form-control placeholder-no-fix" type="text" placeholder="الوظيفة" name="occupation" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">الهاتف</label>
                <div class="input-icon">
                    <i class="fa fa-phone"></i>
                    <input data-ng-model="registration.phoneNumber" type="tel" class="form-control placeholder-no-fix" type="text" placeholder="الهاتف" name="phoneNumber" />
                </div>
            </div>

            <p>ادخل بيانات حساابك: </p>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">اسم المستخدم</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input data-ng-model="registration.userName" class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="userName" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">كلمة المرور</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input data-ng-model="registration.password" class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="كلمة المرور" name="password" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">اعادة كتابه كلمة المرور</label>
                <div class="controls">
                    <div class="input-icon">
                        <i class="fa fa-check"></i>
                        <input data-ng-model="registration.confirmPassword" class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="اعادة كتابه كلمة المرور" name="rpassword" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" name="tnc" /> اوافق علي
                    <a href="javascript:;"> شروط الخدمة </a> and
                    <a href="javascript:;"> وسياسة الخصوصية </a>
                </label>
                <div id="register_tnc_error"> </div>
            </div>
            <div class="form-actions">
                <button id="register-back-btn" type="button" class="btn grey-salsa btn-outline"> عودة </button>
                <button data-ng-click="signUp()" type="submit" id="register-submit-btn" class="btn green pull-right"> تسجيل </button>
                <div data-ng-hide="message == ''" class="alert alert-danger">
                    {{message}}

                </div>
            </div>
        </div>
        <!-- END REGISTRATION FORM -->
    </div>
    <!-- END LOGIN -->
    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->
</div>

<script src="../assets/pages/scripts/signup.js"></script>