﻿
<style>
    .dashboard-stat .details {
    position: absolute !important;
    right: 15px !important;
    padding-right: 15px !important;
}
</style>
<!-- BEGIN PAGE HEADER-->
<!--<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">الرئيسية</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">المتابعه والتحكم</a>
        </li>
    </ul>
    
</div>-->

<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div  ng-controller="DashboardController" style="margin-top: -2em;">
    <div class="row">
        <h3 class="page-title" style="margin-right: 1.4em;font-weight: bold;font-size: 18px;"> <span><i class="glyphicon glyphicon-home" aria-hidden="true"></i> الرئيسية</span> </h3>

        <div class="portlet-body" style="margin-right: 1.4em;">
            <div class="tiles">
                <div class="tile bg-blue bg-font-blue" ui-sref="generaljournal">
                    <div class="tile-body">
                        <i class="glyphicon glyphicon-briefcase"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name">مشتريات</div>
                        <div class="number"></div>
                    </div>
                </div>
                <div class="tile bg-green-haze bg-font-green-haze" ui-sref="generaljournal">
                    <div class="tile-body">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name">مبيعات</div>
                        <div class="number"></div>
                    </div>
                </div>
                <div class="tile bg-blue-madison bg-font-blue-madison" ui-sref="generaljournal">
                    <div class="tile-body">
                        <i class="glyphicon glyphicon-object-align-right"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name">مخازن</div>
                        <div class="number"></div>
                    </div>
                </div>
                <div class="tile bg-green bg-font-green" ui-sref="generaljournal">
                    <div class="tile-body">
                        <i class="glyphicon glyphicon-usd"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name">نقود وبنوك</div>
                        <div class="number"></div>
                    </div>
                </div>
                <div class="tile bg-red-sunglo"  ui-sref="generaljournal">
                    <div class="tile-body">
                        <i class="fa fa-calculator"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name">حسابات</div>
                        <div class="number"></div>
                    </div>
                </div>

                <div class="tile bg-blue-steel">
                    <div class="tile-body">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name"> مستخدمين  </div>
                        <div class="number">  </div>
                    </div>
                </div>

                <div class="tile bg-purple-studio" ui-sref="configuration">
                    <div class="tile-body">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name">اعدادات</div>
                        <div class="number">  </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <h5 class="page-title" style="margin-right: 1.4em;font-weight: bold;font-size: 16px;"> <span><i class="fa fa-link" aria-hidden="true"></i> روابط سريعة</span> </h5>

        <div class="portlet-body" style="margin-right: 1.4em;">
            <div class="tiles">
                <div class="tile bg-green-sharp bg-font-green-sharp" ui-sref="salesorders">
                    <div class="tile-body">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name">فاتورة بيع</div>
                        <div class="number"></div>
                    </div>
                </div>
                <div class="tile bg-green-soft bg-font-green-soft" ui-sref="salesreturns">
                    <div class="tile-body">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name">رد مبيعات</div>
                        <div class="number"></div>
                    </div>
                </div>
                <div class="tile bg-red bg-font-red" ui-sref="orders">
                    <div class="tile-body">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name">فاتورة شراء</div>
                        <div class="number"></div>
                    </div>
                </div>
                <div class="tile bg-red-soft bg-font-red-soft" ui-sref="purchasereturns">
                    <div class="tile-body">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name">رد مشتريات</div>
                        <div class="number"></div>
                    </div>
                </div>
                <div class="tile bg-purple-medium bg-font-purple-medium" ui-sref="cash">
                    <div class="tile-body">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name">الخزنة</div>
                        <div class="number"></div>
                    </div>
                </div>

                <div class="tile bg-blue-hoki bg-font-blue-hoki" ui-sref="inventorytransfer">
                    <div class="tile-body">
                        <i class="fa fa-exchange" aria-hidden="true"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name">اذن تحويل بضاعة</div>
                        <div class="number">  </div>
                    </div>
                </div>
                <div class="tile bg-blue-hoki bg-font-blue-hoki" ui-sref="inventorytransferin">
                    <div class="tile-body">
                        <i class="fa fa-exchange" aria-hidden="true"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name">اذن استلام تحويل</div>
                        <div class="number">  </div>
                    </div>
                </div>
                <div class="tile bg-blue-chambray bg-font-blue-chambray" ui-sref="inventorycards">
                    <div class="tile-body">
                        <i class="fa fa-files-o" aria-hidden="true"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name"> تقارير المخازن والاصناف  </div>
                        <div class="number">  </div>
                    </div>
                </div>
            
                <div class="tile bg-purple-studio">
                    <div class="tile-body">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name">اذن استلام بضائع</div>
                        <div class="number">  </div>
                    </div>
                </div>
                <div class="tile bg-purple-soft bg-font-purple-soft">
                    <div class="tile-body">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name">اذن صرف بضائع</div>
                        <div class="number">  </div>
                    </div>
                </div>
                <div class="tile bg-blue-hoki bg-font-blue-hoki" ui-sref="customers">
                    <div class="tile-body">
                        <i class="fa fa-address-card" aria-hidden="true"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name">عملاء</div>
                        <div class="number">  </div>
                    </div>
                </div>
                <div class="tile bg-dark bg-font-dark" ui-sref="suppliers">
                    <div class="tile-body">
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name">موردين</div>
                        <div class="number">  </div>
                    </div>
                </div>
                <div class="tile bg-red-thunderbird bg-font-red-thunderbird" ui-sref="financialStatements">
                    <div class="tile-body">
                        <i class="fa fa-table" aria-hidden="true"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name"> قوائم مالية  </div>
                        <div class="number">  </div>
                    </div>
                </div>
                <div class="tile bg-dark bg-font-dark">
                    <div class="tile-body">
                        <i class="fa fa-question" aria-hidden="true"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name"> مساعدة  </div>
                        <div class="number">  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<h3 class="page-title"> المتابعه والتحكم
        <a href="#" editable-select="branchGroub.id" e-ng-options="c.id as c.name group by c.companyName for c in branchesGroub">
            {{ branchGroub.fullName}}
        </a>
     </h3>

    
 
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details" style="right:15px !important;padding-right:15px !important">
                    <div class="number"> {{dash.turnOverRate + ' مرة '}} </div>
                    <div class="desc"> معدل دوران المخزون </div>
                </div>
                <a class="more" href="#"> للمزيد
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details" style="right:15px !important;padding-right:15px !important">
                    <div class="number"> {{dash.revnue + ' جـ '}} </div>
                    <div class="desc"> مجمل الربح للفترة الحالية </div>
                </div>
                <a class="more" href="#"> للمزيد
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details" style="right:15px !important;padding-right:15px !important">
                    <div class="number">{{dash.sales + ' جـ '}} </div>
                    <div class="desc"> مبيعات اليوم </div>
                </div>
                <a class="more" href="#"> للمزيد
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details" style="right:15px !important;padding-right:15px !important">
                    <div class="number"> 8 </div>
                    <div class="desc"> اصناف اوشكت علي النفاذ </div>
                </div>
                <a class="more" href="#"> للمزيد
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </div>
    <hr />-->

    


</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->