﻿fieldset{
    background: #FCFCFC;
    padding: 16px;
    border: 1px solid #D5D5D5;
}
.addfields{
    margin: 10px 0;
}

#choicesDisplay {
    margin-top:10px;
    padding: 10px;
    background: rgb(227, 250, 227);
    border: 1px solid rgb(171, 239, 171);
    color: rgb(9, 56, 9);
}
.remove{
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;   
}


.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #6684e8;
   
    
         
 }

/*Click to Edit*/


.templateRoot{
    display: inline-block !important;
}
.hover-edit-trigger {
    padding: 3px !important;
}
.hover-edit-trigger:hover{
    border: 1px solid #dcdcdc !important;
    border-radius: 4px !important;
}
.edit-pencil{
    display: none !important;
    margin-right: 3px !important;
    padding: 3px !important;
    border-right: 1px solid #dcdcdc !important;
}
.hover-text-field:hover .edit-pencil{
    display: inline-block !important;
}
.edit-button-group{
    border: 1px solid #dcdcdc !important;
    border-top: none !important;
    border-radius: 4px !important;
    padding: 0px 3px 0px 3px !important;
}
.edit-button-group .glyphicon{
    border: 1px solid #dcdcdc !important;
    border-radius: 4px !important;
    margin: 1px !important;
    cursor: pointer !important;
}
