﻿
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);



.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
    cursor:pointer;
}


/***********************
 * Search Structure *
 ***********************/
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 25px 0 200px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 60px;
  padding: 0 46px 0 10px;
	border-color: #888;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 5px;
  margin-top: 15px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  padding: 0;
  border: none;
	margin-top: 20px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

.push-top-down-sm {
    margin-top: 1.5em;
}


.offline-ui {
    z-index: 10000000;
}



#item-table #item-ud{
      visibility:hidden;
}


#item-table tr:hover #item-ud{
   visibility:visible;
}

 .ul-flex li ul  #item-ud{
      visibility:hidden;
}

.ul-flex li ul li:hover #item-ud{
   visibility:visible;
}





/*categories*/

.main-categories {
  position: relative;
  background: #FFF;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 8px solid #FFF;
  -webkit-border-radius: 5px;
  /*-webkit-background-clip: padding-box;*/
  -moz-border-radius: 5px;
  /*-moz-background-clip: padding;*/
  border-radius: 5px;
  /*background-clip: padding-box;*/
  -/*webkit-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;*/
  /*/*color: inset 0 1px #fff,0 0 8px #c8cfe6;*/*/
}
.main-categories i {
  max-width: 100%;
    font-size: 2em;

}
.main-categories .image {
  text-align: center;
}
.main-categories .title {
  padding: 0px 0 5px;
}
.main-categories .title h3 {
  font-size: 1.2em;
  font-family: 'Droid Arabic Naskh', serif;
  margin: 0 10px;
  text-align: center;
}
.main-categories .title h3 a{
  color: #000000;
  /*text-transform: uppercase;*/
}
.main-categories .colors {
  text-align: center;
  margin-bottom: 10px;
}
.main-categories .colors span {
  display: inline-block;
  *display: inline;
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
  margin: 2px;
}
.main-categories .price {
  color: #535b60;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  -webkit-border-radius: 7px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 7px;
  -moz-background-clip: padding;
  border-radius: 7px;
  background-clip: padding-box;
}
.main-categories .price .price-was {
  color: #A7A7A7;
  font-size: 0.8em;
  text-decoration: line-through;
}
.main-categories .description {
  color: #828282;
  font-size: 0.9em;
  text-align: justify;
  margin: 0 10px;
}
.main-categories .description p {
  border-top: 1px solid #ECECEC;
  padding: 10px;
  margin: 0;
}
.main-categories .actions {
  border-top: 1px solid #ECECEC;
  margin: 0 10px;
  padding-top: 20px;
  text-align: center;
}
.main-categories .actions span {
  font-size: 0.8em;
  white-space: nowrap;
}



.pdsa-summary-block {
    position: relative;
    width: 100%;
    margin: 0.3em;
    padding: 1em;
    min-height: 14em;
    background-color: #FFF;
    color: #333;
     border:1px solid #333;

  }

    .pdsa-summary-block .summary-background i,
    .pdsa-summary-block .summary-background div {
      margin-left: -0.4em;
      margin-top: 0.1em;
      font-size: 8em;
      opacity: 0.3;
    }

    .pdsa-summary-block .summary-body {
      position: absolute;
      top: 1.3em;
      
      width:90%;
      margin: 0px auto 0px auto
    }

      .pdsa-summary-block .summary-body .summary-line1 {
        text-align: right;
        font-size: large;

      }

      .pdsa-summary-block .summary-body .summary-line2 {
        margin-top:2em;
        text-align: center;
        font-size: small;
      }

       

    .pdsa-summary-block .summary-footer {
      position: absolute;
      background-color: blue;
      bottom: 0em;
      right: 0em;
      width: 100%;
      padding: 0.4em;
      font-weight: 300;
      text-transform: uppercase;
      font-size: small;
      opacity: 0.6;
    }

      .pdsa-summary-block .summary-footer a {
        text-decoration: none;
        color: white;
      }

      .pdsa-summary-block .summary-footer:hover {
        opacity: 1;
      }



      /* **************************** */
/* BEGIN: PDSA Collapser Styles */
/* **************************** */
.panel .panel-heading .panel-title a {
  text-decoration: none;
}

.pdsa-panel-toggle {
  float: left;
}

.arrow-down{
    color:#ff0000;
    font-size:smaller;
   
        padding:.2em;

}

.arrow-up{
    color:#2fba3f;
     font-size:smaller;
    
    padding:.4em;
}
/* ************************** */
/* END: PDSA Collapser Styles */
/* ************************** */
.centeringblock {
    width: 100px;
    height: 100px;
   
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}


.acc-info{
    display:inline-block;
    font-weight:bold; 
    
    padding-left:.3em;
    padding-right:.3em;
    border-radius:10px;
    text-align:center;
    top:3em;
    color:#333;

}
.text-white{
        color:#FFF;
        padding:.1em;

}

.account-name{
    color:#000000;

}



.text-total{
    color:#000000;
    padding:.1em;

}


.headerdivider {
    border-left: 1px solid #ECECEC;
    background: #A7A7A7;
    width: 1px;
    height: 80px;
    right: 250px;
    top: 10px;
    margin:1em;
}



.ultable {
    width: 450px;           /* change it to whatever you like */
    position: relative;

    /* these should be probably already set up by `reset.css` */ 
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.ul-flex{
    display:flex;
    margin:1em;
    justify-content:flex-start;
    flex-wrap: wrap;
}
.ul-flex-item{
       margin:.3em;
        flex-grow: 2;

}


/*Tree*/


.treeitem
{

  display: block;
  list-style :none;
   
}

/*.treeitem ul{
    list-style:none;
    display:block;
    font-size:20px;
    
    }*/



.treeitem li a{
      /*//color:#333;*/
}


/*.treeitem li + li a{
   padding:0;
   padding-left:1em;
   padding-right:1em;
   
   
}*/
.border-less{
    border:double;
}



fieldset{
    background: #FCFCFC;
    padding: 16px;
    border: 1px solid #D5D5D5;
}
.addfields{
    margin: 10px 0;
}

#choicesDisplay {
    margin-top:10px;
    padding: 10px;
    background: rgb(227, 250, 227);
    border: 1px solid rgb(171, 239, 171);
    color: rgb(9, 56, 9);
}
.remove{
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;   
}
input[type="text"],
select{
    padding:5px;
}


.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #6684e8;
   
    
         
 }

.modal-header h4{
    color:#FFF
}